[2015-12-20 16:50] ceccode opened #1 "Error during installation"
Hi,
I have this error during `npm install`

[code]

My ENV:
- node 5.1.0
- npm 3.3.12
- react-native-cli: 0.1.7

Thanks for help

[2015-12-21 06:18] sankhadeeproy007 commented on #1
Try installing an older version of `react-native-navbar` from here https://github.com/react-native-fellowship/react-native-navbar

[2015-12-21 07:34] ceccode commented on #1
It works with  react-native-navbar 1.0.0.

[2015-12-21 07:34] #1 closed, assigned to nobody

[2016-01-28 03:48] johntom opened #2 "Android"
Interested in your product (pro version) and decied to try the free sample. The following screen displays on genymotion.
![capture](https://cloud.githubusercontent.com/assets/1877376/12634500/0d2cb544-c548-11e5-99eb-e39544e26d0a.PNG)

[2016-01-28 03:49] johntom commented on #2
![capture](https://cloud.githubusercontent.com/assets/1877376/12634515/3fb96782-c548-11e5-84f8-6f5752c29ff7.PNG)

[2016-01-28 06:30] sanketsahu commented on #2
John, we are checking the issue.

We will get back to you.

On Thu, Jan 28, 2016 at 9:19 AM, John Tomaselli notifications@github.com
wrote:

[2016-01-28 07:27] sankhadeeproy007 commented on #2
Hi, run `react-native upgrade` and overwrite all the files it prompts you to overwrite. You should be good to go.

[2016-01-28 17:14] johntom commented on #2
Hi,
Yes that fixed that problem..
1) Now when I login the menu and back options are missing.
2) I think the demo would show the logged in user and not just Hey There
Thanks,
John

[2016-01-29 06:04] #2 closed, assigned to sankhadeeproy007

[2016-01-29 06:05] sankhadeeproy007 commented on #2
We've already done that in the pro version and are thinking of implementing it here on the demo as well. But it's not high up on the priority list.

[2016-01-29 06:27] johntom commented on #2
No problem, just a suggestion. I brought pro version. Working with it
tomorrow
On Jan 29, 2016 1:05 AM, "Sankhadeep Roy" notifications@github.com wrote:

[2016-01-31 18:05] sibelius opened #3 "Demo is not working"
https://rnplay.org/apps/vPqdqA is not working

requiring unknown module 'react-native-drawer'

[2016-02-01 12:13] sankhadeeproy007 commented on #3
Hello! We've had to take down the demo because rnplay wouldn't allow 3rd party modules. I've attached a gif in the desc. You can always clone/download and try it out.

[2016-02-01 12:13] #3 closed, assigned to nobody

[2016-02-01 12:15] sibelius commented on #3
you should put an example on exponentjs

[2016-02-01 12:45] sankhadeeproy007 commented on #3
Yes, we've already published the full version in Google Play Store and are very soon going to publish it on App Store as well.

[2016-05-15 07:21] sumanbogati opened #4 "the native-starter-kit is not working"
I have followed your instructions to install "native-starter key" in my window7 computer, but after  started the project by 'react-native start', the error(**Module AppRegistry is not registered callable module**) is coming as shown in attached image.

Can you please tell me why this is happening ?

![error_module](https://cloud.githubusercontent.com/assets/1753974/15272589/7a4870c0-1a9b-11e6-82e5

[2016-05-16 08:15] sankhadeeproy007 commented on #4
This is not a problem with `native-starter-kit` and more of a problem with react-native and windows itself. You can go through these links and try out the solutions given there.
http://stackoverflow.com/questions/34969858/react-native-module-appregistry-is-not-a-registered-callable-module
https://github.com/jhabdas/react-native-webpack-starter-kit/issues/58

[2016-05-16 08:15] #4 closed, assigned to nobody

[2016-05-16 11:35] Netsoro opened #5 "Unfortunately NativeStarter has stopped."
when i build react native starter app, on  debug mode everythings work fine, but on release the app is unable to start, i always have this error  Unfortunately NativeStarter has stopped.

![capture du 2016-05-16 12-33-34](https://cloud.githubusercontent.com/assets/1739996/15287932/badbe0f6-1b66-11e6-9f9a-24faf859912d.png)

react native 0.25.1
ubuntu 15.04

Any hint please.

[2016-05-16 11:39] sankhadeeproy007 commented on #5
Have you checked the adb logs?
https://facebook.github.io/react-native/docs/debugging.html

[2016-05-16 11:45] Netsoro commented on #5
@sankhadeeproy007 thank you for your responsive, english is not my first language so :) , i get  this E/ReactNativeJS(18175): undefined is not an object (evaluating 'p.propTypes.style')
E/ReactNativeJS(18175): Module AppRegistry is not a registered callable module.

[2016-05-16 11:48] Netsoro commented on #5
This issue is discussed here   [Android]Release crash "s.propTypes.style" #5655

[2016-05-16 11:53] sankhadeeproy007 commented on #5
We made a signed version of our app from the same template. So it's probably some code from your side which is causing this. Did you try out the solutions from the RN thread?

[2016-05-16 11:56] Netsoro commented on #5
@sankhadeeproy007   By disabling proguard everythings  works fine,
def enableProguardInReleaseBuilds = false
Thks,

[2016-05-16 11:57] #5 closed, assigned to nobody

[2016-05-20 15:19] ghost commented on #4
Oddly the SO site is down today. Those looking at my kit please note my software is not paid, it is open source, and the error pictured in this issue here is likely not specific to Windows or OS X.

[2016-05-22 12:56] sumanbogati commented on #4
The attached error was not origin from demo app.

[2016-05-28 22:04] rafaelcorreiapoli opened #6 "Error: Requiring Module "24" which threw an exception"
![error](https://cloud.githubusercontent.com/assets/12840136/15630227/f1840c24-2506-11e6-8f55-7f2de4d9657a.png)

What I did:
-cloned the repo
-npm install
-react-native start
-react-native run-android

[2016-05-28 22:53] rafaelcorreiapoli commented on #6
Fixed it by typing react-native upgrade and overwriting all files

[2016-05-28 22:53] #6 closed, assigned to nobody

[2016-05-28 22:56] rafaelcorreiapoli opened #7 "Padding problems on Android"
Hi, I would like to know if your product only targets iOS apps or if you support Android as well.
I'm asking this because I noticed that the widgets on Android are a little bit weird (look at the AppBar and the Button)
![starter](https://cloud.githubusercontent.com/assets/12840136/15630352/2a6812fe-250e-11e6-83c0-08efb1821afd.png)

I know its just a simple padding problem but since I will be buyin

[2016-05-28 22:59] rafaelcorreiapoli commented on #7
Besides, I'm getting some warning about deprecated methods
![deprecated](https://cloud.githubusercontent.com/assets/12840136/15630371/9e9e4ada-250e-11e6-9705-cde1d87b9f2a.png)

[2016-05-30 12:41] sanketsahu commented on #7
@rafaelcorreiapoli It supoorts both Android and iOS, it has been fixed in the pro version. The free version will be updated next.

[2016-05-31 06:03] rafaelcorreiapoli commented on #7
Hello @sanketsahusoft, I bought the pro version of starter kit
everything was fine until I noticed that it is using an outdated version of react native
I tried to update the react native version but the code was not compatible with newest versions. I like to use the latest versions to keep my software up to date with bug fixes and new features.
I would like to know if you plan on upgrading the cod

[2016-05-31 06:34] sanketsahu commented on #7
@rafaelcorreiapoli We are going to have continued support. We are launching Native Starter Pro with Redux and Native Base using React 0.25 this week (June 3rd). React Native is getting updated so fast that it's really difficult to keep a track of their pace, even the dependencies keep failing all the time. We are trying our best!

[2016-06-06 13:28] rafaelcorreiapoli commented on #7
Hi @sanketsahusoft, is it released already ?

[2016-06-06 13:31] sankhadeeproy007 commented on #7
Hi @rafaelcorreiapoli, we've completed development and are currently in the process of refining the rough edges in our app. You'll be sent a download link for the new update tomorrow.

[2016-06-06 13:32] rafaelcorreiapoli commented on #7
Thank you

[2016-06-07 11:13] sankhadeeproy007 commented on #7
@rafaelcorreiapoli We've decided to ship with 0.26 instead. Hence the delay. Thanks for the patience.

[2016-06-07 19:51] sudharsan1988 commented on #7
@sankhadeeproy007 I tried with 0.26 and getting an error(undefined is not an object(evaluating 'screenPhysicalPixels.width'). I hope, it will be fixed in the updated version. Any idea, when it's going to be available?

[2016-06-13 09:29] vesper8 opened #8 "error running on simulator (android)"
Having so many problems getting this running.

I've done the react-native upgrade because was getting another issue, and now am getting this error:

<img width="679" alt="screenshot 2016-06-13 16 26 25" src="https://cloud.githubusercontent.com/assets/816028/16002840/dcc81922-3183-11e6-9098-e15d36dc3786.png">

any tips?

anything else you need to know?

running android studio on mac with a 6.0 emul

[2016-06-13 09:48] sankhadeeproy007 commented on #8
Which version of react-native are you using?

[2016-06-13 10:31] vesper8 commented on #8
so when I was experiencing other problems, I saw a lot of closed issues pointing to running react-native upgrade from the root project folder. When I tried to do that it told me I first needed to run

npm install --save react

So I did, and then ran the upgrade command. And so below is my package.json in the root of the project

[code]

[2016-06-13 14:34] sankhadeeproy007 commented on #8
Hey can you clone the latest and check if it's working?

[2016-06-13 15:32] johntom commented on #8
Will do and get back to you asap

On Mon, Jun 13, 2016 at 10:34 AM Sankhadeep Roy notifications@github.com
wrote:

[2016-06-13 16:51] johntom commented on #8
1)I installed latest and tried to run against genymotion 5x-6.0.0- API 23
and 60-6.0.0.0 - API 23

2) c:\react\NativeStarterPro-v31\NativeStarterPro>react-native run-android
See e1
2a) I
changed C:\react\NativeStarterPro-v31\NativeStarterPro\android\settings.gradle
from / to
\
project(':react-native-code-push').projectDir = new
File(rootProject.projectDir,
'../node_modules/react-native-code-push/a

[2016-06-13 16:55] johntom commented on #8
To be clear as I had a type this is how settings.gradle looks after the
change

include ':app'
include ':react-native-code-push'
project(':react-native-code-push').projectDir = new
File(rootProject.projectDir,
'../node_modules/react-native-code-push/android/app')
include ':react-native-vector-icons'
project(':react-native-vector-icons').projectDir = new
File(rootProject.projectDir,
'../node_module

[2016-06-13 17:11] johntom commented on #8
I also tried npm install -g rnpm to get version 1.9.0 but stll same issuesrnpm
linkrnpm linkn

On Mon, Jun 13, 2016 at 10:34 AM Sankhadeep Roy notifications@github.com
wrote:

[2016-06-13 17:53] sanketsahu commented on #8
@johntom Thanks for all the help John! We are looking into it.

[2016-06-13 18:23] sankhadeeproy007 commented on #8
@johntom delete the Android directory. Run `react-native android`, replace the files it asks you to. Hit return/enter when it prompts you for the code-push deployment, `rnpm link`, you should be good to go.

[2016-06-14 16:34] johntom commented on #8
Ok I did that and now get the following in settings.gradle
rootProject.name = 'NSP'
include ':app'

Android icon displays on phone WITH NSP undeneath but I just get the RN
Welcome to React native! form.

I replaced the settings.gradle but with same results.
John

On Mon, Jun 13, 2016 at 2:23 PM Sankhadeep Roy notifications@github.com
wrote:

[2016-06-14 16:39] johntom commented on #8
Was never prompted about code-push

On Mon, Jun 13, 2016 at 2:23 PM Sankhadeep Roy notifications@github.com
wrote:

[2016-06-15 05:01] SupriyaKalghatgi commented on #8
@johntom while running`react-native android`, you will be prompted to replace the files.
After that you got to overwrite the content of files those are being replaced.

[2016-06-15 11:18] SupriyaKalghatgi commented on #8
Fixed with latest update

[2016-06-15 11:18] #8 closed, assigned to SupriyaKalghatgi

[2016-06-16 07:55] SupriyaKalghatgi commented on #7
@rafaelcorreiapoli [Native Starter Pro](http://strapmobile.com/native-starter-pro/) v3.0 is released with [React Native](https://facebook.github.io/react-native/docs/getting-started.html) 0.26.2 + [NativeBase](http://nativebase.io/docs/v0.4.6/) 0.4.6 + [Redux](http://redux.js.org/) + [CodePush](https://github.com/Microsoft/react-native-code-push) + [React Native Navigator](https://facebook.github.

[2016-06-18 22:15] kittugit opened #9 "Error on Android Emulator - Windows"
Tried to run it on android emulator on windows.. got the following exception... can someone help me to solve this error?
![native_base](https://cloud.githubusercontent.com/assets/3399549/16174008/ad17ec50-3577-11e6-8840-4ff5c7449929.PNG)

[2016-06-21 07:04] sankhadeeproy007 commented on #9
Are you sure you did rnpm link? We tried running it on our systems and it worked pretty fine. Did you try vector icons in any other project?

[2016-06-22 00:47] geirman opened #10 "Warning: Failed propType: Invalid props.style key 'color' supplied to [ 'View' | 'RCTView' ]"
in both iOS and Android simulators, I'm receiving these warnings after clicking "Login"
<img width="1183" alt="2016-06-21_1745" src="https://cloud.githubusercontent.com/assets/1640318/16251105/2927301e-37d8-11e6-9b5e-7918aa1fb371.png">

[2016-06-22 00:47] geirman commented on #10
<img width="413" alt="2016-06-21_1747" src="https://cloud.githubusercontent.com/assets/1640318/16251117/440d4c56-37d8-11e6-9ae2-74ff2d43a02b.png">

[2016-06-22 00:48] geirman commented on #10
I believe the error is occurring in /native-base/Components/Widgets/Button.js, but I haven't been able to locate it yet.

[2016-06-22 04:14] kittugit commented on #9
Yes, I did rnpm link.. I didn't try vector icons in any other project..  i believe RNVectorIconModule is changed in react-native which is causing this issue..  Is it something to be fixed in react-native-vector-icons??

[2016-06-22 10:14] sankhadeeproy007 commented on #10
Thanks for pointing it out. It's in line 146. Just replace with
`return React.cloneElement(this.props.children)`

[2016-06-22 10:15] sankhadeeproy007 commented on #10
Will fix with next update.

[2016-06-22 10:15] #10 closed, assigned to nobody

[2016-06-22 17:10] geirman commented on #10
Are you talking about this [`L146`](https://github.com/GeekyAnts/NativeBase/blob/master/Components/Widgets/Button.js#L146)?

If so, I made the change then rebuilt the project `react-native run-ios`, but it didn't solve the issue. Am I doing something wrong?

[2016-06-22 17:27] sankhadeeproy007 commented on #10
[Button.js.zip](https://github.com/start-react/native-starter-kit/files/328402/Button.js.zip)
Extract and try this one maybe.

[2016-06-22 18:02] geirman commented on #10
Unfortunately not.

I copied the new file into `/node_modules/native-base/Components/Widgets/`... and replaced Button.js, I stopped the package server, ran `react-native run-ios` and the problem persists

[2016-06-23 00:29] geirman commented on #10
You should reopen this until it's actually fixed

[2016-06-23 05:40] sankhadeeproy007 commented on #10
It's more of a native-base issue. Please raise a issue in that repo.

[2016-06-23 05:41] sankhadeeproy007 commented on #9
I would think so. Other people have run the app without any issues.

[2016-06-23 06:07] geirman commented on #10
Good point

[2016-06-28 17:08] tschnoelzer opened #11 "Minor issue ..."
Missing comma in package.json line 43.

  "es6"**,**
  "react-native boilerplate",

[2016-06-29 04:01] SupriyaKalghatgi commented on #11
Fixed

[2016-06-29 04:01] #11 closed, assigned to nobody

[2016-07-05 20:59] hsvlz opened #12 "Code improvements"
Hi, very good job with this project!

Can I perhaps make a few suggestions regarding your code?
- you have a few unused definitions & code in multiple files - are you planning to use it?
- you are using a subscribe on the store in AppNavigator.js (this.props.store.getState().drawer.drawerState == 'opened') but as you are using redux, you surely could replace that with a reducer & mapStateToProps.

[2016-07-06 04:32] SupriyaKalghatgi commented on #12
@hsvlz Thank you for your suggestions.
Optimising our code is on our priority list. The upcoming version of Native Starter Kit would have these and also updated versions of [React Native](https://github.com/facebook/react-native) and [NativeBase](http://nativebase.io/documentation)

[2016-07-06 16:28] ty-dev opened #13 "UWP support"
Does this work for UWP?

[2016-07-07 07:58] aliajoudanian opened #14 "BackAndroid issue"
Hardware Android back button works well in home and login pages. But in Blankpage when I press hardware Android back button app crashed.
This is output:

[code]

How can I fix it?

[2016-07-07 11:21] SupriyaKalghatgi commented on #14
@aliajoudanian Native Starter Kit has been updated
Try the latest version and let me know if you still face the same issue

[2016-07-07 11:24] SupriyaKalghatgi commented on #13
@ty-dev Native Starter Kit is compatible with all those devices and OS versions, which [React Native](https://github.com/facebook/react-native) holds good.
_There is experimental Windows and Linux support from React Native community for Android development._

[2016-07-07 11:24] #13 closed, assigned to nobody

[2016-07-07 11:25] SupriyaKalghatgi commented on #9
@kittugit Native Starter Kit has been updated
Try the latest version and let me know if you still face the same issue

[2016-07-07 17:29] aliajoudanian commented on #14
Thanks, It fixed.

[2016-07-07 17:29] #14 closed, assigned to nobody

[2016-07-07 20:45] hsvlz commented on #12
@SupriyaKalghatgi , do you plan to add unit tests too? Is there proper unittesting in the premium version?

[2016-07-07 22:32] kittugit commented on #9
@SupriyaKalghatgi  Thanks for your reply..  I tried again today.. But no luck.. Still getting same error...

git clone https://github.com/start-react/native-starter-kit.git
cd native-starter-kit
npm install
rnpm link
react-native run-android

Please let me know if I miss any steps..

[2016-07-08 05:28] SupriyaKalghatgi commented on #9
@kittugit Is it working fine for iOS with the latest code?

[2016-07-08 13:51] kittugit commented on #9
@SupriyaKalghatgi   Sorry.. i don't have Mac..

[2016-07-09 09:38] sankar2389 opened #15 "CODEPUSH_KEY Error"
CodePush Key should be denoted as

buildConfigField "String", "CODEPUSH_KEY", ' "codepush production key" '

[2016-07-09 09:59] #15 closed, assigned to nobody

[2016-07-09 19:25] kittugit commented on #9
@SupriyaKalghatgi .. I manage to solve the issue by overriding the following method in
..\node_modules\react-native-vector-icons\android\src\main\java\com\oblador\vectoricons\VectorIconsModule.java

also some other modules in CodePush.. Will close this issue..

BTW: starter app is working as i expected... Thanks for your effort..

`@Override
  public boolean canOverrideExistingModule() {
    retur

[2016-07-09 19:25] #9 closed, assigned to nobody

[2016-07-10 20:04] bobloblaws93 commented on #15
Hey sankar, I'm still getting errors with this.
I have the following in my gradle:
buildConfigField "String", "CODEPUSH_KEY", ' "my key here" '

but I still get an error stating:

BuildConfig.java:14: error: unclosed character literal
  public static final String CODEPUSH_KEY = 'my key here';

where 'my key here' is the actual production key

Any help would be greatly appreciated

[2016-07-10 20:16] bobloblaws93 commented on #15
Nvm, Its ok i've solved it
for those who have my issue you have to enter an escape
so it would look like this:

buildConfigField "String", CODEPUSH_KEY, "\"PUT_YOUR_KEY_HERE \""

[2016-07-11 04:49] sankar2389 commented on #15
I just placed my Codepush key like this (used both single quotes & double quotes),

buildConfigField "String", "CODEPUSH_KEY", ' "7e54654asdasdf5454654" '

[2016-07-12 10:33] aliajoudanian opened #16 "Change page's transition"
I couldn't find any option to change it.
Am I able to change the animation of routing between pages?

[2016-07-12 12:29] SupriyaKalghatgi commented on #16
@aliajoudanian Native Starter Kit includes [React Native's Navigator](https://facebook.github.io/react-native/docs/navigator.html). Which by default has `PushFromRight` animation.
To customise this you can go through React Native docs

[2016-07-14 20:14] juancabraal opened #17 "npm install"
I've downloaded the starter pack

And when I run the command
`npm install`

I receive these errors

`> NativeStarterKit@4.0.0 postinstall /Users/nedev/apps/native`
`> remotedev-debugger`

`PASS Inject RemoteDev monitor into React Native debugger.`
`npm ERR! Darwin 15.3.0`
`npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"`
`npm ERR! node v4.4.0`
`npm ERR! npm  v2.14.20`
`npm ERR!

[2016-07-14 21:25] juancabraal commented on #17
I could fix all the installation bug

now I'm having this problem

How can I solve it?

[2016-07-15 05:47] SupriyaKalghatgi commented on #17
@juancabraal Sorry for the inconvenience
Experimental code was pushed on to branch `master`.
You can now get started from branch `master`

[2016-07-15 11:48] #17 closed, assigned to nobody

[2016-07-18 09:13] leanhunter opened #18 "update dependences,got error"
[code]

got error  running  react-native run-ios

[2016-07-18 09:15] leanhunter commented on #18
"native-base": "0.5.0",
        "react": "15.2.0",
        "react-native": "0.29.2",

got error  running  react-native run-ios

[2016-07-18 09:18] SupriyaKalghatgi commented on #18
@leanhunter Yes, soon Native Starter Kit will have updated versions of [React](https://facebook.github.io/react/), [React Native](https://facebook.github.io/react-native/) and [NativeBase](http://nativebase.io/).

[2016-07-18 09:20] leanhunter commented on #18
@SupriyaKalghatgi  tks~

[2016-07-25 05:20] SupriyaKalghatgi commented on #16
@aliajoudanian Did it work for you?

[2016-07-25 07:16] aliajoudanian commented on #16
@SupriyaKalghatgi Yes, it worked. Thanks

[2016-07-25 07:16] #16 closed, assigned to nobody

[2016-07-28 04:15] johntom commented on #9
Hi Sankadeep & Kumar,
While all previous testing with apple seemed to be fine, the client
requested that I submit to apple store as they didn't want to register
anyones phones for a download Apple rejected stating that
1) 1.0 Binary Rejected Jul 22, 2016
Performance - 2.1 We discovered one or more bugs in your app when reviewed
on iPad and iPhone running iOS 9.3.3 on Wi-Fi connected to an
2) Jul 2

[2016-07-28 14:29] amirfl opened #19 "StatusBarIOS is now depricated"
Need to replace it with StatusBar or else the app crashes

[2016-07-28 15:40] tiaaaa123 opened #20 "Code structure is a free for all. Clean it using eslint"
Hey cool product, but when I look at the code, my eyes are crying. DoubleQuote instead of singlequote, missing space, no Props validation.
I recommend you to install those devDependencies and check your code to make it clean 😉

[code]

[2016-07-29 11:06] SupriyaKalghatgi commented on #19
@amirfl Updated Native Starter Kit from v3.1.0 to v4.0.0

[2016-07-29 11:06] #19 closed, assigned to nobody

[2016-07-30 20:11] triandicAnt opened #21 "How do I pass data while routing"
How do I pass data between the routes.
For e.g. I can push another view with `replaceRoute('home')` or `replaceOrPushRoute('home')`. But I want to pass some data to `home` module while replacing route. Ho do I do that?

[2016-08-01 21:34] mgenev opened #22 "unable to resolve module color in base-theme.js"
It crashes upon running.
![screen shot 2016-08-01 at 2 34 14 pm](https://cloud.githubusercontent.com/assets/3029803/17309727/0ad4e948-57f5-11e6-9183-ea9d1dc41f2e.png)

[2016-08-02 05:46] SupriyaKalghatgi commented on #22
@mgenev I checked running the kit and its working fine
Try deleting `node_modules` and follow installation procedure again

[2016-08-03 04:07] SupriyaKalghatgi commented on #22
@mgenev Did it work for you?

[2016-08-03 20:12] kcfgl commented on #21
+1 on this.

I've been attempting to build some custom routes to be able to do something like:

[code]

Where ultimately I could pass in the bookID dynamically to the Action. And then on the new view access the prop with:
`this.props.bookID`

But when I log the prop in the console it returns undefined.

[2016-08-05 06:26] anovafawzi commented on #22
I'm also found the similar problem with color module so I thought maybe I just put it in here as well. Already tried your suggestion to delete the node_modules and re-install it but no luck. This is the screenshot of my error when running on android emulator (I'm using Win 10 btw)

![image](https://cloud.githubusercontent.com/assets/4485792/17428101/fb2cb4d0-5b0f-11e6-8e14-32976fdf65c6.png)

Do yo

[2016-08-05 06:34] SupriyaKalghatgi commented on #22
@anovafawzi Can you let me know adding `"color": "~0.11.1"` to your `package.json` and re-install node_modules?

[2016-08-05 06:54] anovafawzi commented on #22
@SupriyaKalghatgi okay will let u know asap

[2016-08-05 07:05] anovafawzi commented on #22
@SupriyaKalghatgi you're right, it lacks with color package (i just do the npm install once again without deleting the node_modules folder). it's running well now, thanks :+1:

[2016-08-05 07:08] SupriyaKalghatgi commented on #22
@anovafawzi NSK includes `color` from [NativeBase](http://nativebase.io/)
I tried fresh installs many a times, but never faced this.

[2016-08-05 07:12] SupriyaKalghatgi commented on #22
Fixed with [latest commit](https://github.com/start-react/native-starter-kit/commit/d475c0c0274120e367e89bf787a4b24fc6046152)

[2016-08-05 07:12] #22 closed, assigned to nobody

[2016-08-05 15:43] cbcye opened #23 "please update the reference packages"
RN version just 0.27 and Native Base version is 0.4.9 , the List component of Native Base can not support dynamic data source. i try to update all of modules but get a lot of error. i am worry to use this starter kit into my project.

[2016-08-06 08:57] SupriyaKalghatgi commented on #23
@cbcye Its not just that we update NSK as soon as the new version of [NativeBase](http://nativebase.io) is released.
This kit is a demo version of our pro theme [Native Starter Pro](http://strapmobile.com/native-starter-pro/) and other themes as well. So it takes some time for us to keep our themes and NSK synchronized with NativeBase .
You can very soon find the new release of NSK.

[2016-08-07 08:59] pitzcarraldo opened #24 "[Question] License?"
Hi All.

I have a little question. What is the license of the repo?
Could I make commercial service with codes and resources of this project?
If could, is there any rules to use this for it.

Thanks.

[2016-08-07 13:38] SupriyaKalghatgi commented on #24
@Pitzcarraldo The kit is updated with [License](https://github.com/start-react/native-starter-kit/blob/master/LICENSE).
You can check it and its commercially free to use.

[2016-08-07 13:38] #24 closed, assigned to SupriyaKalghatgi

[2016-08-08 01:48] pitzcarraldo commented on #24
Great.
Thanks.

[2016-08-10 13:55] ghost commented on #23
+1

[2016-08-10 14:37] akhivicky opened #25 "Unable to resolve module TextInputState"
Unable to resolve module TextInputState from /Users/stplmacmini6/Desktop/native-starter-kit/node_modules/react/lib/NativeMethodsMixin.js: Unable to find this module in its module map or any of the node_modules directories under /Users/node_modules/TextInputState and its parent directories.

I also follow the steps:
1. Clear watchman watches: `watchman watch-del-all`.
2. Delete the `node_modules` f

[2016-08-10 14:44] SupriyaKalghatgi commented on #25
@akhivicky Your console output says _Unable to find this module in its module map or any of the node_modules directories under_ **/Users/node_modules/TextInputState**

Whereas the module was to be searched under path **/Users/stplmacmini6/Desktop/native-starter-kit/node_modules/react/lib/NativeMethodsMixin.js**

So this is not an issue with NSK

Try restarting your system

[2016-08-10 15:21] akhivicky commented on #25
I saw the TextInputState.js file is not found on path  /Users/stplmacmini6/Desktop/native-starter-kit/node_modules/react/lib/ but accessing from same directory and in new version of react 0.31.0 it has mapped in react-native/lib so rather using require('TextInputState') instead use require('react-native/lib/TextInputState'). Might be it is the issue.

[2016-08-10 15:33] akhivicky commented on #25
Hey its solve my problem by replacing require('TextInputState') to require('react-native/lib/TextInputState') in node_modules/react/lib/NativeMethodsMixin.js

[2016-08-10 17:59] SupriyaKalghatgi commented on #25
@akhivicky Seems that you are trying NSK with RN 0.31
NSK will be soon updated with RN 0.31
Issues regarding this would be welcome once NSK is updated

[2016-08-11 05:28] basequatro commented on #23
+1

[2016-08-11 10:30] linonetwo opened #26 "Don‘t understand how ProgressBar imported"
At [this line](https://github.com/start-react/native-starter-kit/blob/master/js/App.js#L10) it said:

[code]

However there are :
ProgressBar.android.js
ProgressBar.ios.js
Spinner.android.js
Spinner.ios.js

I don't understand how these files are imported. I'm trying to use flowtype to do some type check, but now it will complain about `./components/loaders/ProgressBar Required module not found`

[2016-08-11 11:22] linonetwo commented on #26
And where does the `Reducer`
at [here](https://github.com/start-react/native-starter-kit/blob/0411fad013eabe31813f8830ac0f53b5b61b8e09/js/AppNavigator.js#L47)
`const defaultReducer = Reducer(params);` comes from?

[2016-08-19 22:18] CodeLuca commented on #20
Agreed, also, why the tabs?? :(

[2016-08-20 19:16] babakness opened #27 "README & rnpm"
Hey guys, the readme says to run rnpm but you guys don't say to install it even though you mention installing things like node.

Maybe you guys can mention in system requirements. I did `npm install -g rnpm`

[2016-08-22 05:20] SupriyaKalghatgi commented on #27
@babakness The ReadMe specifies only the version dependency for `node` and `npm`.
The ReadMe has been updated for [System Requirements](https://github.com/start-react/native-starter-kit#1-system-requirements) with other basic packages as well.

[2016-08-22 05:20] #27 closed, assigned to nobody

[2016-08-23 04:30] Mentioum commented on #25
hi @SupriyaKalghatgi is there an ETA on the update to RN 0.31 / 32

[2016-08-23 05:13] SupriyaKalghatgi commented on #25
@Mentioum yes. By this week

[2016-08-23 14:22] sanketsahu commented on #20
@CodeLuca @tiaaaa123 We are adding heavy Eslint rules at the moment.

[2016-08-24 13:14] tiaaaa123 commented on #20
Great news!!

I would recommend using this .eslint configuration :)

[code]

[2016-08-24 13:15] sanketsahu commented on #20
@himanshu-sahusoft Can you refer the config above and let us know if we can go ahead with that?

[2016-08-24 14:29] himanshu-satija commented on #20
We can merge our own configuration with this one. We have some additional rules.

[2016-08-26 01:31] henryw4k commented on #25
Hi, if we purchase the pro version, can we upgrade for free when you guys have RN 0.31/32 out?

[2016-08-26 05:08] SupriyaKalghatgi commented on #25
@henryw4k @dsernst Yes
We provide our customers with git-access of Full version and Seed version.

[2016-08-26 05:57] amourya-systango opened #30 "Unable to update font size of input field within inputgroup and placeholder color"
Base them properties does not update font size and placeholder color of input field even updating the property value of fontSizeBase, inputColorPlaceholder and iconFontSize

[2016-08-26 06:32] SupriyaKalghatgi commented on #30
@amourya-systango This was a bug of NativeBase 0.4.9, which has been solved in its succedent release.
And also NSK will have the latest version of NativeBase (0.5.5) and React Native (0.31) very soon

[2016-08-26 14:57] SupriyaKalghatgi commented on #30
@amourya-systango Fixed with [v5.0.0](https://github.com/start-react/native-starter-kit/releases/tag/v5.0.0)

[2016-08-26 14:57] #30 closed, assigned to nobody

[2016-08-26 15:02] SupriyaKalghatgi commented on #25
@akhivicky @Mentioum @henryw4k @dsernst Fixed with [v5.0.0](https://github.com/start-react/native-starter-kit/releases/tag/v5.0.0)

[2016-08-26 15:02] #25 closed, assigned to nobody

[2016-08-26 15:03] SupriyaKalghatgi commented on #23
@cbcye @herve1976 @basequatro Fixed with [v5.0.0](https://github.com/start-react/native-starter-kit/releases/tag/v5.0.0)

[2016-08-26 15:03] #23 closed, assigned to SupriyaKalghatgi

[2016-08-26 15:04] SupriyaKalghatgi commented on #18
@leanhunter Fixed with [v5.0.0](https://github.com/start-react/native-starter-kit/releases/tag/v5.0.0)

[2016-08-26 15:04] #18 closed, assigned to nobody

[2016-08-26 15:06] SupriyaKalghatgi commented on #7
@rafaelcorreiapoli @sudharsan1988 Fixed with [v5.0.0](https://github.com/start-react/native-starter-kit/releases/tag/v5.0.0)

[2016-08-26 15:06] #7 closed, assigned to SupriyaKalghatgi

[2016-08-26 22:36] basequatro opened #31 "Picker.item style don't work"
itemStyle={{fontSize: 25, color: 'red', textAlign: 'left', fontWeight: 'bold'}}
Item labels are white on a white background for IOS
How i can style picker item in native starter kit?

[2016-08-27 05:13] SupriyaKalghatgi commented on #31
@basequatro
Did you check this on NativeBase?

[2016-08-27 11:09] himanshu-satija commented on #26
@linonetwo
1. We have used the platform specific ProgressBar. So, if you write

[code]

ProgressBar will be imported from `ProgressBar.android.js` on an Android device and from `ProgressBar.ios.js` on an iOS device.
1. You can safely remove these lines.

[code]

`reducerCreate` is not being used anywhere. We'll remove all the redundant code in next release.

[2016-08-27 12:33] basequatro commented on #31
@SupriyaKalghatgi Yes, they've said on a closed issue that styling code is the same as Picker for react native.

[2016-08-28 02:51] linonetwo commented on #26
Thank you , awesome work

[2016-08-28 02:51] #26 closed, assigned to SupriyaKalghatgi

[2016-08-28 08:53] SupriyaKalghatgi commented on #31
@basequatro Check [Issue #122](https://github.com/GeekyAnts/NativeBase/issues/122)

[2016-08-29 07:48] sankhadeeproy007 commented on #31
Hi, itemStyle is not supported yet by nativeBase.

[2016-08-31 05:45] dsernst opened #32 "how do you use fontawesome icons?"
How do you use fontawesome icons? It is unclear from the documentation. And the code is very misdirected.

[2016-08-31 05:52] dsernst commented on #32
But the documentation says this icon set pulls in FontAwesome.

[2016-09-09 13:15] Proxiweb commented on #21
It work for me like this :
- In the bindAction add passProps

[code]
- In the container adapt the method

[code]
- In the scene rendered for this route you can access passProps

[code]

[2016-09-09 13:26] Proxiweb commented on #32
I think you have to set iconFamily to "FontAwesome"  in /themes/base-theme.js ...

[2016-09-09 20:23] johntom commented on #21
Hi,
I tried your example but have something wrong. Code below. I created a public gist to view all code https://gist.github.com/johntom/7c2ee9b6bb22abe2e14aee852c9469dd.
Thanks
John
login/index.js
  replaceRoute(route, passProps) {

[code]

function bindActions(dispatch) {
    return {
        closeDrawer: () => dispatch(closeDrawer()),
        replaceRoute: (route, passProps) => dispatch(replaceR

[2016-09-12 02:19] alfondotnet opened #33 "RCTTextView is not a descendant of RCTShadowView"
This just came up when I fire up the simulator of a fresh cloned project.
<img width="353" alt="screen shot 2016-09-11 at 7 31 46 pm" src="https://cloud.githubusercontent.com/assets/3578008/18422876/9555f70e-7854-11e6-96d9-bae95ce9c57c.png">

Someone has a clue of what can be happening?.

Thanks!

[2016-09-12 05:07] SupriyaKalghatgi commented on #33
@alfonsoperez This is an issue with React Native 0.31 which has been fixed in React Native 0.32.

[2016-09-12 17:06] alfondotnet commented on #33
Oh, yeah I see, thanks, closing.

[2016-09-12 17:06] #33 closed, assigned to nobody

[2016-09-17 17:39] rwngallego opened #35 "State mutation detected inside a dispatch, in the path `route.routes.1`"
Hi! I've installed [redux-immutable-state-invariant](https://github.com/leoasis/redux-immutable-state-invariant) and it has detected a state mutation here: https://github.com/start-react/native-starter-kit/blob/5f37096/js/reducers/route.js#L25-L34

It would be healthy to the project to add this detector in order to don't mutate state when using redux. I've added a PR in order to add state mutation

[2016-09-18 10:55] wan54 opened #36 "Support <Header /> with only one button icon on the right"
Currently I use this workaround:

[code]

Cheers.

[2016-09-18 11:51] wan54 commented on #36
closed as this issue doesn't belong to this repo.

created https://github.com/GeekyAnts/NativeBase/issues/184

[2016-09-18 11:51] #36 closed, assigned to nobody

[2016-09-18 21:51] darron-haworth opened #37 "iOS UN/PW input focus errors out with "view is not a descendant of RCTShadowView""
Pulled down the latest react-native-starter-kit, looks great but when I place focus in the username or password fields on the login component I get the following error:

`view <RCTShadowView: 0x60000001d0590; viewName: RCTTextField; reactTag: 24; frame: {{323, 40}}> (tag $24) is not a descendant of <RCTShadowView: 0x6180001d0a40; viewName: RCTView; reactTag: 37; frame: {{10,30}, {290, 79}}> (tag #

[2016-09-19 05:25] SupriyaKalghatgi commented on #37
@darron-haworth Refer this #33

[2016-09-19 05:31] SupriyaKalghatgi commented on #32
@dsernst @Proxiweb Yes, you should set the iconFamily in `base-theme.js`
Refer NativeBase issue for same [#148](https://github.com/GeekyAnts/NativeBase/issues/148)

[2016-09-19 14:46] darron-haworth commented on #37
I was able to resolve my issues by upgrading to react 15.3.1, react-native 0.33.0, react-native-keyboard-aware-scrollview 2.0.

[2016-09-19 14:46] #37 closed, assigned to nobody

[2016-09-23 22:54] alfondotnet opened #38 "dependency with rxJs"
I see a dependency for `rx`, but I don't see it being used anywhere, thoughts?

[2016-09-25 04:43] SupriyaKalghatgi commented on #38
`rx` has been excluded in the upcoming version of NSK

[2016-09-25 04:43] #38 closed, assigned to nobody

[2016-09-25 04:44] #32 closed, assigned to nobody

[2016-09-25 04:46] SupriyaKalghatgi commented on #35
Merged request

[2016-09-25 04:46] #35 closed, assigned to SupriyaKalghatgi

[2016-09-25 15:18] krishbhattacharyya commented on #21
I have not spent much time on this. But the solution is may be like this:

In the route.js reducer:
export type State = {
    routes: Array<string>,
    props: ''
}

const initialState = {
    routes: ['login'],
    props: ''
};

And the return state is like this 👍
if (action.type === PUSH_NEW_ROUTE) {
        globalNav.navigator.push({id: action.route, passProps: action.passProps});
        retur

[2016-09-26 07:50] SupriyaKalghatgi commented on #21
@sudhansusingh22 @kcfgl @Proxiweb @johntom @krishbhattacharyya Check with the latest release of NSK

[2016-09-26 07:51] SupriyaKalghatgi commented on #20
@tiaaaa123 @CodeLuca Check with the latest release of NSK

[2016-09-28 17:36] #20 closed, assigned to SupriyaKalghatgi

[2016-09-28 18:16] basequatro opened #39 "Codepush Key, Portrait, Readme, Background"
Hi There!

Any plans to make your framework/themes compatible with portrait?
![screen shot 2016-09-28 at 3 12 36 pm](https://cloud.githubusercontent.com/assets/2417603/18926436/30e42416-858e-11e6-8cc0-7959ffc36edc.png)

Also, could please elaborate how we can add the codepush keys on IOS?
![screen shot 2016-09-28 at 3 13 48 pm](https://cloud.githubusercontent.com/assets/2417603/18926437/30e68594-8

[2016-09-29 06:04] SupriyaKalghatgi commented on #39
@basequatro For detailed implementation of CodePush, you can refer its [ReadMe](https://github.com/Microsoft/react-native-code-push)
You can follow steps mentioned here for [iOS key deployment](https://github.com/Microsoft/react-native-code-push#ios)

There are no issues with background images. NSK has been updated with pure NativeBase components with least usage of external styles.

[2016-09-29 11:18] cpalanzo opened #40 "How to run starter kit on actual iOS and Android devices"
Okay... I've successfully installed and ran the starter kit in my iOS simulator (XCODE 8.0) but I would like to run it on actual devices connected to my iMAC.

I tried opening XCODE and loading the project and running it directly - but get compilation and signing errors.

Is there a written guide for this?

[2016-09-29 12:15] tzookb opened #41 "how do I start it as it failes"
when I do

[code]

*\* BUILD FAILED **

The following build commands failed:
    CompileC /Users/tzookb/Downloads/native-starter-kit-master/ios/build/Build/Intermediates/RCTWebSocket.build/Debug-iphonesimulator/RCTWebSocket.build/Objects-normal/x86_64/RCTSRWebSocket.o RCTSRWebSocket.m normal x86_64 objective-c com.apple.compilers.llvm.clang.1_0.compiler
(1 failure)
Installing build/Build/Products/

[2016-09-29 12:37] SupriyaKalghatgi commented on #40
@cpalanzo You can refer SO for such generic questions

[2016-09-29 12:38] SupriyaKalghatgi commented on #41
@tzookb This is not an issue of NSK
Looks like you are on Xcode 8
Try deleting `Custom Compiler Flags` through Xcode

[2016-09-29 13:37] tzookb commented on #41
Thanks!
Any idea where I can find it?
Not an xcode expert...

[2016-09-29 13:40] SupriyaKalghatgi commented on #41
@tzookb You can check it in issues of RN [#8584](https://github.com/facebook/react-native/issues/8584)

[2016-09-29 14:12] cpalanzo commented on #40
I looked in the documentation and it was not clear.The Normal path of opening the XCODE project and compiling it did not work.There were websocket compile issues - AND signing issues. 
This would be a logical next step for any developer - running on the simulator is good - but running on real devices is better.
Please reference exact links - I'm sure others will have this problem.
And yes, I know

[2016-09-29 14:20] SupriyaKalghatgi commented on #40
@cpalanzo Did you try this?
[Run Apps on iPhone](http://stackoverflow.com/questions/30727099/how-to-run-apps-on-iphone-ipad-using-xcode-7-without-enrolling-to-apples-develo)

[2016-09-29 14:27] cpalanzo commented on #40
Yes.. but I will do it again and record/screen-capture any errors.I've already developed and released apps to both the App Store and Google play .. but maybe something with XCODE 8 is configured wrong.
Thanks, -----------------------------------------------------------------------------------------------------------  "The faster you react, the less you think. Not always, but often." - Jason Fried

[2016-09-30 01:52] basequatro commented on #39
I can't compile this project for Android.
Any idea what i've missed?

![screen shot 2016-09-29 at 10 50 42 pm](https://cloud.githubusercontent.com/assets/2417603/18978201/4187b0ee-8697-11e6-87a9-73c5e460472c.png)

[2016-09-30 02:11] basequatro opened #42 "Logout Animation"
I'm having problem when logout, the animation its getting stuck between transition.
![nsk-logout-lag-export](https://cloud.githubusercontent.com/assets/2417603/18978489/f94ec620-8699-11e6-868a-2239230fc24a.gif)

[2016-09-30 05:41] SupriyaKalghatgi commented on #39
@basequatro Can you list down the steps you followed to set up NSK for Android?

[2016-09-30 06:35] basequatro commented on #39
1. Made it work with IOS first.
2. Link with with react-native link

Set in build.gradle app

[code]
1. Set in java file

[code]

[2016-09-30 07:08] basequatro commented on #39
This happens when i set debug key.

[code]

If i remove debug { ...} the project builds fine

![screen shot 2016-09-30 at 4 06 03 am](https://cloud.githubusercontent.com/assets/2417603/18983464/4f9bcb1c-86c3-11e6-9cf5-6ced0885f00a.png)

[code]

[2016-09-30 07:10] basequatro commented on #39
I\ve added also this to strings.xml

[code]

[2016-09-30 11:25] cpalanzo commented on #40
Okay... I ran a more complete trial this morning with XCODE - and have found TWO sets of problems.
1 - Two Web Socket Compile errors in the code
then after I comment out the offending errors
2 - Signing Identify problems I can't figure out

First I ran react-native from the terminal - it all worked find as this screenshot shows:
![screenshot 2016-09-30 07 09 06](https://cloud.githubusercontent.com

[2016-10-01 20:21] cpalanzo commented on #40
I posted additional details / with screenshots - there are issues to running in XCODE.. please take a look on Github., view it on GitHub,
 -----------------------------------------------------------------------------------------------------------  "The faster you react, the less you think. Not always, but often." - Jason Fried

[code]

 To: start-react/native-starter-kit native-starter-kit@noreply

[2016-10-04 00:26] cpalanzo commented on #40
Where does this stand? Please help me out so I can move forward with the evaluation.Charlie -----------------------------------------------------------------------------------------------------------  "The faster you react, the less you think. Not always, but often." - Jason Fried

[code]

 To: start-react/native-starter-kit native-starter-kit@noreply.github.com
Cc: Charlie Palanzo palanzo@yahoo.c

[2016-10-04 08:45] sanketsahu commented on #40
From the docs:
https://facebook.github.io/react-native/docs/running-on-device-ios.html

[2016-10-04 11:13] cpalanzo commented on #40
You keep pointing me back to the docs.. I've looked. I will look again but I'm dealing with:1. Websocket errors .. and2. Signing errors
I've built multiple iOS apps and this is the first one that is having problems. How can I evaluate your packages if I can't run them on devices - only in simulators?
 -------------------------------------------------------------------------------------------------

[2016-10-04 23:47] polygoal opened #43 "working example of fetch in redux?"
I seems like your implementation of redux differs from what we've been using so far.

Do you have a working code example of async fetch in redux?

Would be also great for the documentation of this starterkit.

Thanks and best wishes,
Peer

[2016-10-05 10:39] sanketsahu commented on #43
About the Async, we don't have an example with the Starter Kit at the moment but we have used [Redux Thunk](https://github.com/gaearon/redux-thunk) and [Redux Saga](https://github.com/yelouafi/redux-saga) with other projects.

Also, we recently launched [Native Starter Pro with Backend](https://strapmobile.com/native-starter-pro-back-end/) where we have back-end APIs implemented using Express / No

[2016-10-05 10:39] #43 closed, assigned to nobody

[2016-10-05 12:46] basequatro opened #44 "Delay using Picker"
I'm having issue when opening the modal from picker component.
There's a big delay until the modal is shown.

This is not happening with nativebase and awesome project.

[2016-10-05 13:47] sanketsahu commented on #44
@basequatro Please raise the issue in NativeBase repo if it is related to that.

Some code snippet would be appreciated and it will help us looking into the problem and recreating it.

[2016-10-05 13:47] #44 closed, assigned to nobody

[2016-10-05 14:55] SupriyaKalghatgi commented on #42
@basequatro Can you pull the latest and check again?

[2016-10-05 14:55] SupriyaKalghatgi commented on #41
@tzookb Could you build NSK successfully?

[2016-10-05 15:00] #21 closed, assigned to SupriyaKalghatgi

[2016-10-05 16:02] tzookb commented on #41
@SupriyaKalghatgi thanks it worked!

[2016-10-05 16:02] #41 closed, assigned to nobody

[2016-10-06 13:37] basequatro commented on #44
@sanketsahusoft This issue is only with NSK. Native base and awesome project is working fine.

[2016-10-13 07:53] SupriyaKalghatgi commented on #40
@cpalanzo In Xcode 8.0, you need to SignIn for tests section also.
Check this
![screen shot 2016-10-13 at 1 20 51 pm](https://cloud.githubusercontent.com/assets/13464885/19340769/2903f576-9148-11e6-84a5-3dda0f54019f.png)
Let me know if this solves your problem.

[2016-10-13 12:54] SupriyaKalghatgi commented on #42
@basequatro Fixed with latest push

[2016-10-13 12:54] #42 closed, assigned to nobody

[2016-10-13 13:55] SupriyaKalghatgi commented on #39
@basequatro Its very simple
1. `react-native link react-native-code-push`
2. Enter codepush keys
This automatically adds key to `android/app/src/main/res/values/strings.xml`
Also no need of adding keys in `MainApplication.java`
3. Go to `android/app/build.gradle` and add this

[code]

[2016-10-13 14:53] basequatro opened #45 "Picker delay"
There's a delay with picker on NSK, tried to downgrade to NB 0.5.7 but i got the same behaviour.
This doesn't occurs with awesome project and nativebase. Already mentioned in issue #44, but was closed without answer.

![pickerlag](https://cloud.githubusercontent.com/assets/2417603/19353981/88d04804-913b-11e6-87a5-9265f6324d62.gif)

The delay increases depending on how many routes we have in applic

[2016-10-14 00:52] cpalanzo commented on #40
Finally!It didn't work at first - that would be TOO easy for iOS.I had to use automated settings for the NativeStarterKit target ... and manual settings for NativeStarterKitTests.
XCODE and the iOS development systems GUARANTEE job security for anyone who understands their complexity - just being able to figure out build settings seems like a reasonable basis for a consultancy.Imagine - getting co

[2016-10-19 15:09] alfondotnet commented on #12
Also, isn't it a concern for you guys having side effects in the `route` reducer?, shouldn't these go in thunks for example?

[2016-10-24 05:23] oldo commented on #41
Wow, I wasted a lot of time before I found this thread...!

[2016-11-02 23:51] arashbi opened #46 "Entry, ":CFBundleIdentifier", Does Not Exist"
Checkedout from repo, ran npm install and link.
Error message while running application:
Failed to install the requested application
An application bundle was not found at the provided path.
Provide a valid path to the desired application bundle.
Print: Entry, ":CFBundleIdentifier", Does Not Exist

Command failed: /usr/libexec/PlistBuddy -c Print:CFBundleIdentifier build/Build/Products/Debug-iphon

[2016-11-03 08:21] web-jenezis commented on #46
Got the same error when tried to built project:

[code]

[2016-11-03 08:25] SupriyaKalghatgi commented on #46
@arashbi @web-jenezis Can I know which version of Xcode you are working with?

[2016-11-03 10:04] basequatro commented on #45
@SupriyaKalghatgi any plans to release a fix for this?

[2016-11-03 10:13] SupriyaKalghatgi commented on #45
@basequatro This will be fixed with the next release of NativeBase.
Keep waiting

[2016-11-04 00:20] abcd-ca commented on #45
FYI, takes about 30 seconds to show in the Kitchen Sink app from the app store

[2016-11-04 02:51] randytorres commented on #46
Same issue for me and I'm using Xcode 8.1

[code]

[2016-11-04 02:52] randytorres commented on #46
Same issue for me and I'm using Xcode 8.1

[code]

[2016-11-04 07:20] pranavrajs commented on #46
Same issue here with Xcode 8.1

[2016-11-04 07:26] pranavrajs commented on #46
Upgraded RN version to 0.36.0. Did `react-native upgrade` and `react-native link`. Now issue is solved.

[2016-11-04 07:53] SupriyaKalghatgi commented on #46
@randytorres Did you try deleting Custom Compiler Flags in Xcode?

[2016-11-05 03:43] randytorres commented on #46
@SupriyaKalghatgi No not sure how to do that. I tried what @pranavrajs recommended but its still not working

[2016-11-05 09:34] SupriyaKalghatgi commented on #46
@randytorres Check [here](https://github.com/facebook/react-native/issues/8584#issuecomment-236366222)

[2016-11-06 16:20] basequatro commented on #45
Solved with Native Base 0.5.13

[2016-11-06 16:20] #45 closed, assigned to nobody

[2016-11-07 06:02] MattHartz opened #47 "Failed at the NativeStarterKit"
Hi,

I just recently did a fresh install for React-native on my windows machine and am following the steps to install the native-starter-kit kit for a fresh project.  When running npm install, I am receiving an error of "Failed at the NativeStarterKit@5.2.0 postinstall script 'remotedev-debugger && sh .add-pre-commit-hook'.

It states to ensure i have the latest version of node.js and npm which I

[2016-11-07 09:15] SupriyaKalghatgi commented on #47
@MattHartz Can you please share screenshot of your console for same?

[2016-11-07 17:51] MattHartz commented on #47
Hi @SupriyaKalghatgi, I'll get it to you soon.

[2016-11-08 04:33] MattHartz commented on #47
![image](https://cloud.githubusercontent.com/assets/16110147/20086991/70cbc862-a529-11e6-9bda-49492c536cf2.png)

Is it related to sh failing? If so, do you know the best way to get sh command?

[2016-11-08 19:27] dima11221122 commented on #47
+1

[2016-11-08 19:31] dima11221122 commented on #47
i run `npm install` in cygwin and it solve problem.

[2016-11-10 19:15] MattHartz commented on #47
@dima11221122 I'll try that when i get home. Thanks!

[2016-11-11 05:37] SupriyaKalghatgi commented on #47
Yes i agree with @dima11221122 .

@MattHartz This should be helpful to you.

[2016-11-11 05:38] SupriyaKalghatgi commented on #46
@randytorres Did you got it running?

Also NSK 5.2.1 has been released.

[2016-11-11 05:39] SupriyaKalghatgi commented on #40
@cpalanzo Are you still facing issue?

[2016-11-11 05:40] SupriyaKalghatgi commented on #39
@basequatro Still facing issues?

Check the latest release of NSK

[2016-11-11 15:42] alexicum opened #49 "missed func: this._renderOverlay in AppNavigator.js (v. 5.2.1)"
[code]

[2016-11-12 16:43] cpalanzo commented on #40
No - as in my comments above your solution worked - just configuring XCODE is a major headache.Thanks,c -----------------------------------------------------------------------------------------------------------  "The faster you react, the less you think. Not always, but often." - Jason Fried

[code]

 To: start-react/native-starter-kit native-starter-kit@noreply.github.com
Cc: Charlie Palanzo pal

[2016-11-14 05:02] SupriyaKalghatgi commented on #40
@cpalanzo Sounds good

Do check the latest release of NSK

[2016-11-14 05:02] #40 closed, assigned to nobody

[2016-11-15 05:00] SupriyaKalghatgi commented on #47
@MattHartz Any results for this?

[2016-11-15 17:22] MattHartz commented on #47
Sorry I bailed on it and built my project from scratch. :)

[2016-11-16 07:24] #47 closed, assigned to nobody

[2016-11-17 07:39] SupriyaKalghatgi commented on #49
@alexicum `this._renderOverlay` is not defined

This would be updated with next release

[2016-11-17 07:40] #46 closed, assigned to nobody

[2016-11-17 10:28] alexicum commented on #49
@SupriyaKalghatgi

Found discussion about renderOverlay (but may be it is not related):
https://github.com/facebook/react-native/issues/7210#issuecomment-227317718

[2016-11-17 10:28] #49 closed, assigned to SupriyaKalghatgi

[2016-11-17 10:29] SupriyaKalghatgi commented on #49
@alexicum Thank you

Probably NSK will exclude this in upcoming release

[2016-11-21 15:38] ts-ign0re commented on #47
+1

[2016-11-22 05:33] SupriyaKalghatgi commented on #47
@tronin Please pull the latest from `master` and try again

[2016-11-23 23:19] thiagoterleski opened #52 "react-native link problem"
HI! anyone can help me with this error?

`D:\_DEV\_Labs\ReactNative\native-starter-kit>react-native link
? What is your CodePush deployment key for Android (hit <ENTER> to ignore) _gi-TBhZ56viRsyUMe6kZPDgcSVV4yodWNPWf
rnpm-install info Linking react-native-code-push android dependency
rnpm-install info Android module react-native-code-push has been successfully linked
rnpm-install info iOS module

[2016-11-27 01:16] chris-hinds opened #53 "Ccloned latest and get: Unhandled JS Exception on first run."
this is the error I receive upon first run on a clean project:

[code]

**Node:**     v6.1.0
**NPM:**      3.8.6
**RNative:** react-native-cli: 1.2.0
               react-native: 0.35.0

[2016-11-28 06:33] SupriyaKalghatgi commented on #53
@hindsc52 Try restarting your packager

[2016-11-28 06:35] SupriyaKalghatgi commented on #52
@thiagoterleski Try deleting `node_modules` and install again

[2016-11-28 06:35] #39 closed, assigned to nobody

[2016-11-28 19:03] gouravsood commented on #52
@SupriyaKalghatgi  I have the same problem. Tried removing the `node_modules` and still the same error:

$ react-native link
? What is your CodePush deployment key for Android (hit <ENTER> to ignore)
? What is your CodePush deployment key for Android (hit <ENTER> to ignore)
rnpm-install info Linking react-native-code-push android dependency
rnpm-install info Android module react-native-code-push h

[2016-11-29 06:35] SupriyaKalghatgi commented on #52
@thiagoterleski @gouravsood I tried with a fresh install of NSK.
Goes fine by my side.
You can check CodePush Issue [#586](https://github.com/Microsoft/react-native-code-push/issues/586)

[2016-11-30 07:43] SupriyaKalghatgi commented on #53
Restarting the packager solves this problem

[2016-11-30 07:43] #53 closed, assigned to nobody

[2016-11-30 07:44] SupriyaKalghatgi commented on #52
@thiagoterleski @gouravsood Could you build successfully?

[2016-11-30 12:39] txs opened #54 "version issue 0.35.0 to 0.36.0"
I was npm installing the package, but the dependcies change to 0.36.0

so do you need to change the package version?

[2016-11-30 19:04] alexicum opened #55 "Requiring unknown module: 'react-native/Libraries/Renderer/src/renderers/native/ReactNativePropRegistry'"
It's fixed in NativeBase 0.5.18: [#328](https://github.com/GeekyAnts/NativeBase/issues/328)

But native-starter-kit dependencies referencing NativeBase v "0.5.11"
and RN 0.35.0

Is it possible to upgrade to NativeBase 0.5.11 and RN 0.38.0 ?

[2016-11-30 19:54] alexicum commented on #55
Fixed for now by replacing
`import ReactNativePropRegistry from 'react-native/Libraries/Renderer/src/renderers/native`/ReactNativePropRegistry';
by:
`import ReactNativePropRegistry from 'react\lib\ReactNativePropRegistry';`
in:
node_modules\react-native-easy-grid\Utils\computeProps.js

[2016-12-01 00:24] thiagoterleski commented on #52
Same error :-(

I removed all node_modules and reinstall, but nothing works..

[2016-12-01 07:10] SupriyaKalghatgi commented on #52
@thiagoterleski Check with this [#586](https://github.com/Microsoft/react-native-code-push/issues/586)

If nothing works, then last option left is to link CodePush manually

[2016-12-01 07:13] SupriyaKalghatgi commented on #54
@txs That works fine.
The kit will be updated in a week or so with latest of RN and NB.
You are free to update the `package.json`
- If you want to work with RN < 0.38 then you should go for NB < 0.5.16
- For RN >= 0.38, NB 0.5.18 is compatible

[2016-12-01 07:14] SupriyaKalghatgi commented on #55
@alexicum If you want to work with RN < 0.38 then you should go for NB < 0.5.16
For RN >= 0.38, NB 0.5.18 is compatible

[2016-12-01 09:21] gouravsood commented on #52
@thiagoterleski @SupriyaKalghatgi as suggested in https://github.com/Microsoft/react-native-code-push/issues/586 I have upgraded the version of codePush to 1.16.0-beta ("react-native-code-push": "^1.16.0-beta") and has removed the error.

I can't see the same error but the process in command prompt is hanged. Its not completing and hanged at `Assets have been successfully linked to your project`.

[2016-12-01 09:29] SupriyaKalghatgi commented on #52
@gouravsood This seems to be linked successfully
Try to simulate now

[2016-12-01 20:31] alexicum commented on #55
@SupriyaKalghatgi I mean what is the reason that native-starter-kit is not updated to last versions
[NativeBase "0.5.11"](https://github.com/start-react/native-starter-kit/blob/master/package.json#L15) to 0.5.18
and
[RN 0.35.0](https://github.com/start-react/native-starter-kit/blob/master/package.json#L17) to 0.38.0 ?

I did it and it works.

[2016-12-01 20:38] #55 closed, assigned to nobody

[2016-12-02 06:25] SupriyaKalghatgi commented on #55
@alexicum  Its not just that we update NSK as soon as the new version of [NativeBase](http://nativebase.io) of RN is released.
This kit is a demo version of our pro theme [Native Starter Pro](http://strapmobile.com/native-starter-pro/). Also all other themes at **[StrapMobile](https://strapmobile.com/)** as well. So it takes some time for us to keep all our themes and NSK synchronized with NativeB

[2016-12-02 11:19] RyamBaCo opened #56 "Pressing back button on Android causes no key defined error"
After Logging in and pressing one of the lines in the home screen I navigate to the blank page. When pressing the (physical) back button of my Android device the App crashes as no key is defined.

Happens in AppNavigator.js in
`this.props.popRoute(this.props.navigation.key); `(line 45)

I fixed it by
changing
`popRoute: () => dispatch(popRoute()),` (line 135)
to
`popRoute: key => dispatch(popRoute

[2016-12-02 13:39] SupriyaKalghatgi commented on #56
@RyamBaCo Fixed

[2016-12-02 13:39] #56 closed, assigned to nobody

[2016-12-02 13:41] #54 closed, assigned to nobody

[2016-12-02 13:42] SupriyaKalghatgi commented on #52
@gouravsood Did you got the kit running?

[2016-12-14 19:06] prancky opened #57 "how to make api request"
i got an error like this
![dec 15 2016 12-35-48](https://cloud.githubusercontent.com/assets/18732057/21196673/81dac520-c25e-11e6-8747-6780825e5024.png)

[2016-12-14 19:56] imarem opened #58 "change direction of transition of NavigationCardStack"
Hi,

I'm trying to change the direction of navigation through configureScene, but nothing changes. I miss somewhere?

 <NavigationCardStack
          navigationState={this.props.navigation}
          renderOverlay={this._renderOverlay}
          renderScene={this._renderScene}
          configureScene={() => {
              return Navigator.SceneConfigs.FloatFromBottom;
          } }
          />

[2016-12-15 00:58] mikepaszkiewicz opened #59 "codePush or CodePush?"
Between the actual code push docs and the starter kit code, I'm seeing a mix of the two. What syntax should be used in the JS code / do both have their place depending on the environment?

Based on the node module it looks like ```CodePush``` is what gets exported. However, the official docs use ```codePush``` all over the place? https://microsoft.github.io/code-push/docs/react-native.html#codepus

[2016-12-20 05:38] SupriyaKalghatgi commented on #57
@prancky This is just an UI starter kit

[2016-12-20 05:38] #57 closed, assigned to nobody

[2016-12-20 05:39] #52 closed, assigned to nobody

[2016-12-20 06:36] #12 closed, assigned to nobody

[2016-12-22 14:16] mikepaszkiewicz commented on #59
duh it's whatever you import it as 😑

[2016-12-22 14:16] #59 closed, assigned to nobody

[2017-01-05 11:37] shukerullah opened #60 "Rename project!"
What is better way to rename project directory and android package?

[2017-01-05 12:00] SupriyaKalghatgi commented on #60
Follow this link to the docs of [Native Starter Pro](https://strapmobile.com/docs/native-starter-pro/master) to [rename app](https://strapmobile.com/docs/native-starter-pro/v5.2.0/guide/customize)

[2017-01-05 13:14] shukerullah commented on #60
Thanks @SupriyaKalghatgi

[2017-01-05 13:14] #60 closed, assigned to nobody

[2017-01-19 07:28] Steviey opened #61 "Support of React Native Tools in Visual Studio Code"
Support of React Native Tools in Visual Studio Code

Got red screen with "Unable to connect with remote debugger".

[2017-01-19 09:27] Steviey opened #62 "Does the Drawer has Transitions?"
I get no transitions while using the drawer. Is it currently not implemented?

[2017-01-19 09:30] SupriyaKalghatgi commented on #61
@Steviey Have you tried doing this with your earlier projects?

[2017-01-19 11:24] Steviey commented on #61
@SupriyaKalghatgi
Yes, it works with some other projects (not your seed). For example with a poor, naked react native project.

[2017-01-20 23:24] TheRealJAG commented on #52
Just to be clear, the fix for this issue is to open package.json and modify

`"react-native-code-push": "1.15.0-beta",`

to

`"react-native-code-push": "1.16.0-beta",`

I no longer get the error.

[2017-01-29 18:04] moksamedia opened #64 "Fresh install, analyzer issues?"
I just pulled down a fresh install of this and am getting this warning:

The following commands produced analyzer issues:
	Analyze Views/RCTMapManager.m
	Analyze Modules/RCTRedBox.m
(2 commands with analyzer issues)

Are these a problem? Do they need to be resolved? The app seems to run fine.

I'm running node v6.70

[2017-01-30 06:25] SupriyaKalghatgi commented on #64
@moksamedia Analyzer issues do not affect your app.
You can get rid of those by restarting your packager.

[2017-02-05 13:15] joinjoohny opened #65 "Set color for status bar when scrolling page"
How I can set color for status bar when page scrolled.
Now it is transparent...

![](https://cloud.githubusercontent.com/assets/1760643/22621406/e451f354-eb2b-11e6-8eb2-d92a44f2a85b.png)

[2017-02-07 05:34] SupriyaKalghatgi commented on #64
Closing this issue due to inactivity
Please reopen if the issue continues

[2017-02-07 05:34] #64 closed, assigned to nobody

[2017-02-10 18:48] osolano opened #66 "New Clone Error: View has no propType for native prop RCTView.aspectRatio"
Hello,

I just cloned this project today and followed the getting started instructions exactly, and then ran the app using
```react-native run-ios```

and get this error

![image](https://cloud.githubusercontent.com/assets/280426/22839490/791b2f5e-ef7e-11e6-97fc-79adeaaa346d.png)

[2017-02-11 20:00] dmitry-makovsky opened #67 "Don't work. Error: Unhandled promise rejection (rejection id: 1249): UnableToResolveError: Unable to resolve module"
Sorry for my english.
I install native-starter-kit by manual. It give me error at start (react-native run-android):

``Bundling `index.android.js`
  Transforming modules  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░  99.7% (777/778)...(node:2948) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1249): UnableToResolveError: Unable to resolve module C:\Users\Di\Projects\application\nat

[2017-02-11 20:05] dmitry-makovsky commented on #67
fix it with `npm install remote-redux-devtools@0.5.0`

[2017-02-11 20:05] #67 closed, assigned to nobody

[2017-02-11 20:21] dmitry-makovsky commented on #67
than if you have error about package overriding:
in the file `\native-starter-kit\android\app\src\main\java\com\nativestarterkit\MainApplication.java`:

delete that lines:
`import com.oblador.vectoricons.VectorIconsPackage;
import com.microsoft.codepush.react.CodePush;`

and from @Override
`new VectorIconsPackage(),`
`new CodePush(null, getApplicationContext(), BuildConfig.DEBUG)`

After that I ex

[2017-02-14 06:14] viyarda opened #68 "Transforming modules error"
Loading dependency graph, done.
Bundling `index.android.js`
  Transforming modules  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░  99.7% (777/778)...(node:908) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1277): UnableToResolveError: Unable to resolve module G:\workspace\native-starter-kit\node_modules\socketcluster-client\lib\sctransport.j\lib\ws-browser.js from G:\workspace\nati

[2017-02-14 06:14] viyarda commented on #68
how to solve it ,thanks

[2017-02-14 06:37] #68 closed, assigned to nobody

[2017-02-17 06:32] SupriyaKalghatgi commented on #66
@osolano Works fine for me on fresh clone

[2017-02-17 17:56] osolano commented on #66
It's been a couple days since I ran this from clone and my environment has changed since then. Tested this today and everything looks good. Closing thanks!

[2017-02-17 17:56] #66 closed, assigned to nobody

[2017-02-17 22:09] Morriz opened #69 "Application NativeStarterKit has not been registered."
I get this error after following the setup instructions":

'''Application NativeStarterKit has not been registered. This is either due to require () error during initializtion or failure to call AppRegistery.'''

I am on 5.3.0

[2017-02-18 17:15] marcpechaitis commented on #69
@Morriz did you have another app running before you tried running NativeStarterKit?  I have had this happen to me in the past.  Try closing terminal and restart your simulator and try again, that's what worked for me.

[2017-02-18 19:17] prancky opened #70 "how to change the initial loading page"

[2017-02-18 19:22] #70 closed, assigned to nobody

[2017-02-19 21:08] fones opened #71 "Test failed"
Test failed but app starts OK. Node v7.5.0.
[code]

[2017-02-21 11:10] SupriyaKalghatgi commented on #69
@Morriz This happens if you faced an unsuccessful try for renaming the app
Or if any other project is running its packager.
You can terminate all the process from your terminal and try again

[2017-02-21 21:43] acamenhas opened #72 "Native base 2.0"
Hi,

I'll be interesting to have native base 2.0 by default on this starter kit.

For when?

Regards

[2017-02-22 06:44] #69 closed, assigned to nobody

[2017-02-22 06:45] SupriyaKalghatgi commented on #72
@acamenhas Yes you can expect it in a couple of days.

[2017-03-02 07:51] piyush565 opened #77 "how do we pass the API data from one component to another?"
Issue is How to pass the list item data we are fetching in a page B to Page C. not able to figure out how to bind and send data because page navigation is going on using app navigator.
it would be great help if you suggest with code.

Thanks in advance

[2017-03-02 11:07] janzenz commented on #77
you can use [Redux](http://redux.js.org/) for passing data from scene to scene just make sure it's not a sensitive data that you're passing because it's in plain text.

[2017-03-03 10:17] #58 closed, assigned to nobody

[2017-03-05 13:14] Tibze commented on #71
Same problem for me.
Node 7.4

[2017-03-05 20:11] acamenhas commented on #72
Hope that it doesn't take too long.

[2017-03-05 20:37] sotomaque opened #78 "element type is invalid. help PLEASE"
when modifying the home component to display anything but the grid, like a list item for example, i get a red error screen.
<img width="1280" alt="screen shot 2017-03-05 at 2 37 32 pm" src="https://cloud.githubusercontent.com/assets/7506954/23591131/4a7fd2f4-01b1-11e7-982b-6cd8f4731463.png">
<img width="1280" alt="screen shot 2017-03-05 at 2 37 37 pm" src="https://cloud.githubusercontent.com/asset

[2017-03-05 23:03] sotomaque1 commented on #72
I've got a question. If i try rendering a separator in the home view I get a red screen saying error expected string etc., Could this be because separator is maybe from native base 2.0 and this isn't?

[2017-03-05 23:04] sotomaque1 commented on #72
https://github.com/start-react/native-starter-kit/issues/78

[2017-03-09 16:14] dekkofilms opened #79 "Did a fresh clone today, and I get a 'View' has no propType for native prop error"
react-native: 0.41.2
react: 15.4.2
native-base: 0.5.22

I just did a fresh clone:
[code]

And then opened the project up through xCode (recommended on first use).

Build succeeded, but get this error on the simulator:

![screen shot 2017-03-09 at 9 53 47 am](https://cloud.githubusercontent.com/assets/14862852/23758938/e4fb310a-04b0-11e7-9542-539b88bd09c6.png)

[2017-03-09 18:32] pikitgb opened #80 "Help Migrating to 2.0.12."
Hi, in the package.json the version of native-base is 0.5.22
When trying to migrate to 2.0.X things break...
Any ideas or suggestions how to do this ?

Thanks.

[2017-03-09 20:03] Hi7cl4w opened #81 "Renaming the project"
Are there instructions for what needs to be changed in order to rename the project?

[2017-03-10 06:02] SupriyaKalghatgi commented on #81
@manukn Please check from the issues
#60

[2017-03-10 06:02] #81 closed, assigned to nobody

[2017-03-10 12:13] acamenhas commented on #80
I'm waitting too for the native-starter-kit release update for native-base 2.0...

[2017-03-12 07:43] Hi7cl4w opened #82 "How to pass variable to another route?"
How to pass and receive multiple variable or object to another route using `pushRoute`?

[2017-03-14 01:41] atebit opened #83 "jslint too verbose"
Just did `'npm install library'`
didn't like it so did` 'npm uninstall library'`
now I'm getting error` 'connect' is not defined `
`export default connect(mapStateToProps, bindAction)(FooterNav);`

Weird.. any thoughts?

[2017-03-14 01:43] atebit commented on #83
Nevermind. I figured it out, I'm dumb I had it commented out.

[2017-03-14 01:44] atebit commented on #83
however the "error" list from jslint is intense now based on simple things like spaces and whatnot.

<img width="1225" alt="screen shot 2017-03-13 at 8 43 41 pm" src="https://cloud.githubusercontent.com/assets/6557296/23882316/cafea1f8-082d-11e7-844c-cf309576d6b1.png">

[2017-03-14 02:03] atebit commented on #83
For now, I'm going to just add -n to my commits and close this ticket.. but, if someone wants to shoot me a message about how to ignore these warnings, would be greatly appreciated

[2017-03-14 02:03] #83 closed, assigned to nobody

[2017-03-15 10:56] SupriyaKalghatgi commented on #80
@pikitgb @acamenhas NSK is updated with RN 0.41 and NB 2.0

[2017-03-15 10:56] #80 closed, assigned to nobody

[2017-03-15 10:57] SupriyaKalghatgi commented on #79
@dekkofilms Check the latest update of NSK with RN 0.41 and NB 2.0

[2017-03-15 10:59] SupriyaKalghatgi commented on #72
@acamenhas @sotomaque1 NSK updated with RN 0.41 and NB 2.0

[2017-03-15 10:59] #72 closed, assigned to nobody

[2017-03-16 04:31] pikitgb commented on #80
Terrific ! Thanks.

[2017-03-16 16:45] pikitgb commented on #82
I use Redux and the state for this. I can case it help you.
Check #77

[2017-03-20 06:22] #79 closed, assigned to nobody

[2017-03-22 10:29] dinithminura commented on #31
@sankhadeeproy007,  No other option to style picker item in nativeBase? One time I have change theme text color to  style picker item and change other particular text colors.

[2017-03-23 12:54] SupriyaKalghatgi commented on #65
@joinjoohny Status bar remains fixed on scroll

And I can see from image which you have shared that the status bar color is black and not transparent.

[2017-03-24 14:52] samsudheen opened #84 "react-native run-android failed on Windows 10"
starter kit does not work on android with windows 10 , no matter what I try:

Loading dependency graph, done.
Bundling `index.android.js`
  Transforming modules  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░░░  89.2% (661/700)...(node:3828) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2058): UnableToResolveError: Unable to resolve module D:\ReactNative\native-starter-kit\node_module

[2017-03-27 06:42] #77 closed, assigned to nobody

[2017-03-27 06:43] SupriyaKalghatgi commented on #82
Closing this issue due to inactivity

Please reopen if the issue continues

[2017-03-27 06:43] #82 closed, assigned to nobody

[2017-03-27 06:43] SupriyaKalghatgi commented on #84
@samsudheen You could run it for iOS?

[2017-03-27 19:06] sem-nowsquare commented on #84
I get the same error on Windows 10, iOS works fine.

[2017-03-28 13:47] tdorado commented on #84
Same error for Windows 10, but ubuntu work fine

[2017-03-28 14:25] thibbo commented on #84
I'm facing the same issue.

edit: downgrading remote-redux-devtools to version 0.5.0 with the following command fixes the issue:
`npm install remote-redux-devtools@0.5.0 --save-dev`

[2017-03-28 18:08] sem-nowsquare commented on #84
@thibbo that fixed it for me, too

[2017-03-30 02:35] xiajian opened #85 "native-start-kit run on android appear UnableToResolveError: Unable to resolve module socketcluster-client"
I use native-starter-kit（5.3.0） and master ，but when I use it on window 10, with
react-native-cli(2.0.1) and react-native(0.41.2) 。It happean the fellowing misstake:

[code]

[2017-03-30 03:10] xiajian commented on #85
I find it not work on windows, but it work on macOS。 why？？

[2017-03-30 05:43] #84 closed, assigned to nobody

[2017-03-30 05:44] SupriyaKalghatgi commented on #85
#84

[2017-04-05 07:28] SupriyaKalghatgi commented on #85
Closing this issue due to inactivity
Please reopen if the issue continues

[2017-04-05 07:28] #85 closed, assigned to nobody

[2017-04-05 07:29] SupriyaKalghatgi commented on #65
Closing this issue due to inactivity
Please reopen if the issue continues

[2017-04-05 07:29] #65 closed, assigned to nobody

[2017-04-06 11:09] llioor opened #87 "NavigationExperimental is deprecated from 0.43"
From react native docs:

https://facebook.github.io/react-native/docs/navigation.html#navigationexperimental

1. What we should do with it? are we going to keep use it?
2. If yes, is there good DOCs for NavigationExperimental because I see in the project we use "popRoute, pushRoute, replaceAt" and I didn't find what is the differences between them.

Thank you.

[2017-04-06 14:43] thienlhh opened #88 "Error when try to run android on Windows 10"
When I run the project with target to android and stuck at this error:

`Bundling `index.android.js`
  Transforming modules  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░░░░░░░░░░░  60.3% (473/609)...(node:948) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2058): UnableToResolveError: Unable to resolve module D:\Workspace\native-starter-kit\node_modules\socketcluster-client\lib\sctransport.j

[2017-04-07 00:36] ReneMarquez opened #89 "navigation slow down on physical devices?"
Hello, just wondering if anyone has/had this kind of behaviour; I use the Native Starter Pro bundle (but I think the dependencies are pretty much the same as this one) so I don't know what can be causing this; app runs as expected on the simulator, but when I run it on a device, some transitions between screens take like 2-3 seconds (sometimes more), which is pretty bad cause I'm not even debuggin

[2017-04-07 06:44] SupriyaKalghatgi commented on #87
@llioor Native Starter Kit will discontinue usage of NavigationExperimental from its next release.

You need to wait for next updates

[2017-04-07 07:16] SupriyaKalghatgi commented on #89
@ReneMarquez Please use GitStrap in case if you face issues with Native Starter Pro

[2017-04-07 07:20] SupriyaKalghatgi commented on #88
@thienlhh Just to confirm, did you build successfully for iOS?

[2017-04-07 07:26] SupriyaKalghatgi commented on #89
@ReneMarquez Native Starter Kit is currently using NavigationExperimental for routing.
Which renders previous as well as the new pushed or replaced screen.

The very next update of Native Starter Kit will not have this
Please wait for the update

[2017-04-07 07:31] thienlhh commented on #88
@SupriyaKalghatgi As I run on windows 10 then I can not run-ios, just run-android.

[2017-04-07 12:48] shivrajkumar commented on #87
@llioor You can check the latest. NavigationExperimental has beed removed and has been updated with React Native Router Flux.

[2017-04-07 12:49] #87 closed, assigned to nobody

[2017-04-07 12:53] llioor commented on #87
@shivrajkumar Thank for the update.
So to use this package: https://github.com/aksonov/react-native-router-flux right?

[2017-04-07 12:54] shivrajkumar commented on #89
@ReneMarquez Native Starter Kit is updated with React Native Router Flux and latest versions of NativeBase. The performance issue is resolved with the latest version. Have a look.

[2017-04-07 12:56] shivrajkumar commented on #31
Picker Item can be styled with `itemStyle` and `itemTextStyle` with NativeBase v2.x

[2017-04-07 12:56] #31 closed, assigned to nobody

[2017-04-07 13:40] #89 closed, assigned to nobody

[2017-04-10 15:05] jackyef opened #91 "Can't get the sample up and running"
What I have done:
1. Clone the repo to a local folder
2. cd into the folder, run `npm install`
3. Run `react-native link`
4. Run `react-native run-android`
5. Run `react-native run-android`

What I got:
Error from React Packager
[code]

I can't get the sample project deployed properly on my device. Notice that I run `react-native run-android` twice.
The first time, the bundling finished, but my de

[2017-04-11 06:37] SupriyaKalghatgi commented on #91
#88

[2017-04-11 07:53] jackyef commented on #88
@SupriyaKalghatgi The error in my case (#91) is different with this one. Why is my issue closed and referenced to this one?

[2017-04-12 10:37] DFelten commented on #87
It would interest me, why you are using react-native-router-flux and not the upcoming [ReactNavigation](https://reactnavigation.org/), which will be a part of the main package of React Native as far as I know?

[2017-04-12 10:42] llioor commented on #87
@DFelten There are many solutions outside but I spoke about the solution which includes in this "native-starter-kit"
https://reactnavigation.org/ is the best option right now.
Thanks

[2017-04-12 10:57] DFelten commented on #87
Ok, thanks. I would be interested in such starter kit, which runs with React Navigation.

[2017-04-18 17:27] thienlhh commented on #88
To day I try to removed and re installed the repo and some how it works, not sure but I'm not see this error any more. May be the issue should be closed, thanks.

[2017-04-19 12:23] basequatro opened #94 "RNRF Key root is already defined!"
RNRF implementation is generating console.log messages on drawer click.
Key home is already defined!
Key blankPage is already defined!
Key root is already defined!

[2017-04-24 02:25] araratmartirossyan opened #95 "Error: with the same name across two different files."
This error is caused by a @providesModule declaration with the same name across two different files.
Error: @providesModule naming collision:
  Duplicate module name: react-native-vector-icons
  Paths: /Users/mac/projects/react/native-starter-kit/node_modules/react-native/local-cli/core/__fixtures__/files/package.json collides with /Users/mac/projects/react/native-starter-kit/node_modules/react-na

[2017-04-24 02:41] zak10 commented on #95
Getting the same problem, FYI

[2017-04-25 06:57] shivrajkumar commented on #95
@myfailemtions @zak10 The issue seem to be with the latest version of `react-native-router-flux`. You can fix RNRF to v3.38.0. That will resolve the issue

[2017-04-28 04:22] TomMahle opened #96 "ActionSheet and Toast do not work reliably in apps based on this architecture."
This is based on an issue thread on NativeBase: https://github.com/GeekyAnts/NativeBase/issues/739

Because of the animations between pages in apps based on :

[code]
As a component unmounts in React, it runs its ref function with 'null'. This is causing the error that we're seeing in the linked thread, since there is a single class of ActionSheet with an instance bound to it, and the animations b

[2017-05-04 14:43] h3d-thanhpv opened #97 "Build success, but failed when run app in emulator: Native module CodePushNativeModule tried to override CodePushNativeModule"
I do step by step in installation instruction, but when run app in emulator, it show error:
[code]

This is log-android:
[code]
So I dont know how to fix it. Help me, please!
Thanks.

[2017-05-04 14:45] h3d-thanhpv commented on #97
Latest version: in commit [https://github.com/start-react/native-starter-kit/commit/cb1705c63cbd09e1cfce42686e8c9e01b782dfa3](https://github.com/start-react/native-starter-kit/commit/cb1705c63cbd09e1cfce42686e8c9e01b782dfa3)

[2017-05-05 00:51] h3d-thanhpv commented on #97
I found the resolve:
After run `react-native link`
1. android\app\src\main\java\com\nativestarterkit\MainApplication.java
remove line 7: `import com.microsoft.codepush.react.CodePush;`
remove line 35: `new CodePush(null, getApplicationContext(), BuildConfig.DEBUG)` and `,` in last line before
2. android\setting.gradle
remove line 4 and 5:
[code]
Run again and successful :).
Closed this issue.

[2017-05-05 00:52] #97 closed, assigned to nobody

[2017-05-05 10:25] geekrishabh commented on #94
@basequatro  Have a look at the related issue in RNRF
https://github.com/aksonov/react-native-router-flux/issues/1461

[2017-05-05 11:16] #88 closed, assigned to nobody

[2017-05-05 11:18] geekrishabh commented on #91
Closing this Isssue Try the Branch CRNA  [For more details](https://github.com/react-community/create-react-native-app)

[2017-05-05 11:18] #91 closed, assigned to nobody

[2017-05-05 11:20] geekrishabh commented on #95
@myfailemtions @zak10 you guys can try the CRNA branch [For more](https://github.com/react-community/create-react-native-app)

[2017-05-05 11:20] #95 closed, assigned to nobody

[2017-05-05 11:20] geekrishabh commented on #78
@sotomaque seems to work fine . Try the CRNA branch .

[2017-05-05 14:13] basequatro commented on #94
Not related as the same is happening for IOS.

[2017-05-14 00:24] sleungcy opened #98 "How to release"
Hi,

I am building an android app.
How do I run the release build and upload the apk to my phone?
I don't need to push to android market.

Thanks,
Sam

[2017-05-15 04:32] geekrishabh commented on #98
@sleungcy If you are using CRNA branch you can follow up the [docs here](https://docs.expo.io/versions/v16.0.0/guides/building-standalone-apps.html#content) to build apk

[2017-05-15 17:31] vvusts opened #99 "How to move from NavigationExperimental to RNRF"
I created a project with this starter kit.
Now when NavigationExperimental is gone what steps should I take to move from NavigationExperimental to RNRF.
**Should I npm install something**, change imports, replace code?
For example I have:
[code]
or
[code]
Do I need to change code now or import?
Will '**react-native-navigation-redux-helpers**' still be used?

[2017-05-16 04:26] geekrishabh commented on #99
@vvusts  you can have a look at the [RNRF branch](https://github.com/start-react/native-starter-kit/tree/RNRF) or the [CRNA branch](https://github.com/start-react/native-starter-kit/tree/CRNA) .The above will solve your issue .

[2017-05-17 11:32] #78 closed, assigned to nobody

[2017-05-18 09:54] scizers commented on #94
same error here

[2017-05-18 13:07] #98 closed, assigned to nobody

[2017-05-18 13:08] #99 closed, assigned to nobody

[2017-05-27 11:11] navsaini53 opened #101 "Could not find com.atlassian.mobile.video:okhttp-ws-compat:3.7.0-atlassian1"
all of my apps created using this repo suddenly broke out while running "react-native run-android".
![screenshot from 2017-05-27 16-41-18](https://cloud.githubusercontent.com/assets/7802443/26520985/5437b4e8-42fb-11e7-9950-e6837d812dbc.png)

[2017-05-29 05:36] geekrishabh commented on #101
@navsaini53 please let us know the branch that you are using and the steps to reproduce the error.

[2017-05-29 12:29] SupriyaKalghatgi commented on #96
Toast #[819](https://github.com/GeekyAnts/NativeBase/issues/819)
ActionSheet #[739](https://github.com/GeekyAnts/NativeBase/issues/739)

[2017-05-29 12:29] #96 closed, assigned to nobody

[2017-05-29 12:43] SupriyaKalghatgi commented on #101
@navsaini53 This is not because of Native Starter Kit
The error log says **could not find com.atlassian.mobile.video:okhttp-ws-compat:3.7.0-atlassian1**
So you need to check the configurations for`react-native-image-crop-picker`
#[14223](https://github.com/facebook/react-native/issues/14223) might be helpful

[2017-05-29 12:43] #101 closed, assigned to nobody

[2017-06-07 19:54] vvusts opened #102 "Can master branch be used for start new project"
I need to start a new project and just wondering can I download starter kit from master branch to create new project from it.
I mean is it production ready?
I know that navigation experimental is replaced with react router flux and when I open project I see in /actions/sideBarNav that there is still 'react-native-navigation-redux-helpers', replaceAt, pushRoute etc.
AppNavigator contains '_renderSc

[2017-06-09 04:34] SupriyaKalghatgi commented on #102
Native Start Kit will have `react-navigation` and cut-down obsolete code with next release

[2017-06-13 02:25] rabin111 commented on #102
Do you have a plan when to release?

[2017-06-13 04:38] SupriyaKalghatgi commented on #102
@rabin111 Very soon
This week

[2017-06-13 05:06] rabin111 opened #104 "Can't use RND to monitor Redux state and action."
Hello Developer,

I have clone the project then npm install all dependencies then start by using Android Emulator.

Open React Native Debugging (standalone) and Toggle Remote Debug on the Emulator.

RND is able to connect to the emulator, DOM inspector is works fine but Redux is not works at all.

Do I need to manually config something to make it able to use?

Thank you.

[2017-06-13 20:28] abhilashdonepudi opened #105 "Getting _reactNativeRouterFlex error on clicking login button"
_reactNativeRouterFlex.Actions.Home is not a function. Any way to resolve this issue?

[2017-06-14 11:41] yernandus opened #106 "Login page imports router-flux but it is removed from package.json"

[2017-06-14 12:33] Jasbir23 commented on #106
c0fcdcd3eee284978e401dcb180befc97cbfd5f1
I hope this does it :)

[2017-06-14 12:33] #106 closed, assigned to nobody

[2017-06-16 06:05] yernandus opened #107 "Having problem with ESLINT"
Configuration for rule "eol-last" is invalid:
	Value "always" must be an enum value.

[2017-06-16 07:53] Jasbir23 commented on #105
@abhilashdonepudi did u use the latest version of master for this? Also, please attach some more information with this. Unable to replicate.

[2017-06-16 13:49] abhilashdonepudi commented on #105
Yes. Downloaded Master. I was able to integrate react-navigation and fix the navigation for now.

![screen shot 2017-06-13 at 3 27 21 pm](https://user-images.githubusercontent.com/881822/27229298-b4245dd2-5270-11e7-8816-af23edc57bf9.png)

[2017-06-18 04:08] iiitmahesh opened #108 "Why React Native Router Flux removed base code??"
Why React Native Router Flux removed base code??

Is there any specific reason for that?

(Please update readme)

[2017-06-19 05:35] Jasbir23 commented on #105
@abhilashdonepudi React-navigation is already merged to the master.
 I am unable to replicate any such error in the app. Please get back on this with some more information.

[2017-06-19 05:36] Jasbir23 commented on #108
@iiitmahesh yes we had a couple of reasons, will include it in the README.

[2017-06-19 07:44] SupriyaKalghatgi opened #109 "Update Native Starter Kit"
- [x] Restore Router Flux to a branch
- [x] Integrate React-Navigation
- [x] Upgrade to RN 45 and NB 2.1.4
- [x] ReadMe for `master`, `router-flux`
- [x] Clean code

[2017-06-19 20:02] kabala opened #110 "StaticContainer.react @providesModule declaration with the same name across two different files"
Hi, I recently cloned this repo, did all the proccess detailed in README, but this error persists even after clearing cache with yarn and react-native start --reset-cache.

Here's the printed error:

Loading dependency graph...jest-haste-map: @providesModule naming collision:
  Duplicate module name: StaticContainer.react
  Paths: C:/Users/sketc/Desktop/Code/rnative/native-starter-kit\node_modules

[2017-06-20 07:16] SupriyaKalghatgi commented on #110
I tried with a fresh clone of Native Starter Kit
Worked fine at my end

[2017-06-23 09:49] SupriyaKalghatgi commented on #110
@kabala Did you try?

[2017-06-23 09:52] Jasbir23 commented on #108
https://github.com/start-react/native-starter-kit/blob/master/README.md
@iiitmahesh

[2017-06-23 09:52] #108 closed, assigned to nobody

[2017-06-23 09:52] SupriyaKalghatgi commented on #105
@abhilashdonepudi Any updates?

[2017-06-23 10:01] SupriyaKalghatgi commented on #104
@rabin111 Native Starter Kit includes the necessary libraries required for this purpose at line [6](https://github.com/start-react/native-starter-kit/blob/master/package.json#L6), [27](https://github.com/start-react/native-starter-kit/blob/master/package.json#L27), [44](https://github.com/start-react/native-starter-kit/blob/master/package.json#L44), [45](https://github.com/start-react/native-start

[2017-06-23 10:24] SupriyaKalghatgi commented on #102
@vvusts @rabin111 Native Starter Kit [6.2.0](https://github.com/start-react/native-starter-kit/releases/tag/v6.2.0)

[2017-06-23 10:25] SupriyaKalghatgi commented on #94
@basequatro @scizers  Native Starter Kit [6.2.0](https://github.com/start-react/native-starter-kit/releases/tag/v6.2.0) is up with `react-navigation`

[2017-06-23 13:27] rabin111 commented on #102
@SupriyaKalghatgi Many thanks.. Do you have a plan to include Expo into NSK?

[2017-06-23 14:40] abhilashdonepudi commented on #105
Thanks for getting back to me. You can close this issue.

[2017-06-23 18:02] kyledecot opened #112 "npm test broken out of the box"
When attempting to run `npm run test` w/ just the boilerplate code from this repo I am getting:

[code]

#### Steps to reproduce:

1. Run steps 1 & 2 from https://github.com/start-react/native-starter-kit#2-installation
2. run `npm test`

[2017-06-27 07:06] #105 closed, assigned to nobody

[2017-06-27 07:10] SupriyaKalghatgi commented on #112
#71

[2017-06-27 07:10] #112 closed, assigned to nobody

[2017-06-30 06:20] SupriyaKalghatgi commented on #104
@rabin111 Did you find this working?

[2017-06-30 06:20] SupriyaKalghatgi commented on #102
@rabin111 Not as of now

[2017-06-30 06:21] SupriyaKalghatgi commented on #102
@vvusts Did you check the latest release of Native Starter Kit?

[2017-07-05 06:27] SupriyaKalghatgi commented on #109
Native Starter Kit updated as per tasks mentioned above

[2017-07-05 06:27] #109 closed, assigned to Jasbir23

[2017-07-10 04:08] SupriyaKalghatgi commented on #104
Closing this due to inactivity
Please reopen if the issue continues

[2017-07-10 04:08] #104 closed, assigned to nobody

[2017-07-10 04:09] SupriyaKalghatgi commented on #102
Closing this due to inactivity
Please reopen if the issue continues

[2017-07-10 04:09] #102 closed, assigned to nobody

[2017-07-10 04:10] SupriyaKalghatgi commented on #94
Closing this due to inactivity
Please reopen if the issue continues

[2017-07-10 04:10] #94 closed, assigned to nobody

[2017-07-10 04:10] SupriyaKalghatgi commented on #110
Closing this due to inactivity
Please reopen if the issue continues

[2017-07-10 04:10] #110 closed, assigned to nobody

[2017-07-12 10:22] myerzman opened #114 "ERROR Error watching file for changes: EMFILE"
clone mostly works but with one error...

Loading dependency graph...2017-07-12 12:11 node[12576] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-22)
2017-07-12 12:11 node[12576] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-22)
2017-07-12 12:11 node[12576] (FSEvents.framework) FSEventStream

[2017-07-12 10:38] SupriyaKalghatgi commented on #114
@myerzman This is not related to Native Starter Kit
Probably with your system
Please check StackOverflow for this

[2017-07-12 10:48] myerzman commented on #114
will do. thank you

[2017-07-12 10:48] #114 closed, assigned to nobody

[2017-07-13 17:20] realironnam opened #115 "How to rename this project"
I'm follow this post https://medium.com/the-react-native-log/how-to-rename-a-react-native-app-dafd92161c35 to rename the project, but it's not working.

[2017-07-14 04:15] SupriyaKalghatgi commented on #115
@namnv16 Are you trying to rename Expo app or pure React Native app?

[2017-07-14 10:05] realironnam commented on #115
@SupriyaKalghatgi  I'm trying to rename pure React Native App
I was rename success by used https://www.npmjs.com/package/react-native-rename.
But I don't know how to build the same project from react-native init. Because I have a trouble with CodePush

[2017-07-15 08:40] milkersarac commented on #115
@namnv16 could you try [these](https://stackoverflow.com/questions/32830046/renaming-a-react-native-project/40741057#40741057) steps?

[2017-07-15 17:01] realironnam commented on #115
@milkers this guild is working. But I need to run $./gradlew clean after run $react-native link.

[2017-07-15 17:03] realironnam commented on #115
@milkers
 there are any tutorial to build the native-starter-kit project from project using "react-native init"

[2017-07-17 06:10] SupriyaKalghatgi commented on #115
@namnv16 Why do you want to init and build native-starter-kit when this itself is a starter kit?

[2017-07-17 07:11] milkersarac commented on #115
@namnv16 you do not need to init a project when using native-starter-kit. You just have to clone it and [start](https://github.com/start-react/native-starter-kit#get-started).

[2017-07-19 09:13] gouravsood opened #116 "Disable drawer gesture for Drawer"
I have used this amazing starter kit to spin up for a small personal project.

I am facing issue with Drawer gesture effect.

After logging in, if I swipe from left to right, then app log me out and then I have login again. Can anyone please suggest how I can either stop the gesture effect from drawer or even if user swipe, then control the logout to happen?

[2017-07-19 09:32] SupriyaKalghatgi commented on #116
@gouravsood which branch?

[2017-07-19 09:34] gouravsood commented on #116
@SupriyaKalghatgi just pulled the latest code and using master branch code as base of my app.

[2017-07-19 13:27] cwagner22 commented on #116
Maybe `this.props.navigation.reset` should be used instead of `this.props.navigation.navigate` in `login/index.js` so the user can't go back to the login page.

[2017-07-19 21:03] gouravsood commented on #116
Thanks @cwagner22. I have used reset navigation after login in my forked app and its working now. Reference code below:

https://github.com/gouravsood/native-starter-kit

@SupriyaKalghatgi  you can also plan to fix it in base app.

[2017-07-20 07:25] realironnam commented on #115
I want to remove CodePush, and step to step to create a project. Because I see some redundancy code in the starter kit. (For example: HomeDrawerRouter.js was define but not using at all)
But I was init successfully project.
Thanks @SupriyaKalghatgi  @milkers

[2017-07-20 11:52] milkersarac commented on #115
@namnv16 it is possible to have some pieces of code that you found irrelevant in the starter kit. I fixed those as my wish in my projects. But still for me, this is the best boilerplate if you are a mid level React Native developer. I think it is easier to cut loose CodePush etc. from the boilerplate rather than adding redux or router to your `react-native init`ed project. Other than that if you f

[2017-07-21 09:41] SupriyaKalghatgi commented on #115
@milkers Glad to know that you found this kit useful

[2017-07-24 06:15] SupriyaKalghatgi commented on #115
@namnv16 Any updates?

[2017-07-25 15:07] wikieswan opened #117 "StackNav variable in MainStackRouter.js is promotion to global"
in ```MainStackRouter.js ``` file

[code]
the variable ```StackNav``` is not declared before,so it will be promoted to ```global``` object.

if I add ```'use strict'``` in this file, compile will go wrong!

[code]
I proposal that it can be:

[code]

thx!!

[2017-07-26 23:04] kingctan opened #118 "after update react native 0.46.4,error out."
[code]
[code]

[2017-07-31 08:22] SupriyaKalghatgi commented on #115
Closing this issue due to inactivity
Please reopen this issue, if issue continues

[2017-07-31 08:22] #115 closed, assigned to nobody

[2017-07-31 08:23] SupriyaKalghatgi commented on #118
@kingctan It will be helpful if you share your `package.json`

[2017-07-31 13:41] slayer35 opened #119 "(node:404) DeprecationWarning: node --debug is deprecated. Please use node --inspect instead."
Cant debug this project? Am I doing something wrong?

[2017-08-02 23:22] ydwlaa opened #120 "react version problem"
Hi there,

I was trying to npm install, but got five warnings.

npm WARN redux-form@6.8.0 requires a peer of react@^15.0.0 but none was installed.
npm WARN @shoutem/animation@0.8.10 requires a peer of react@^15.0.0 but none was installed.
npm WARN native-base-shoutem-theme@0.1.4 requires a peer of react@>=15.1.0 but none was installed.
npm WARN jest-react-native@17.0.0 requires a peer of whatwg-fe

[2017-08-03 06:00] SupriyaKalghatgi commented on #120
@ydwlaa Apart from warnings, could you build the app successfully?

[2017-08-03 12:36] ydwlaa commented on #120
Yes, I think it builds successfully, but cannot run.

[2017-08-03 14:01] SupriyaKalghatgi commented on #120
@ydwlaa

Is it on iOS?
If yes try to `Run`(Cmd + R) after `Build`(Cmd + B)

[2017-08-03 15:36] ydwlaa commented on #120
No, it is android emulator on windows. when I run it, the red screen comes up in the emulator

[2017-08-04 00:36] #120 closed, assigned to nobody

[2017-08-05 00:32] williamoliveira opened #121 "yarn install error"
I am getting this error when I run `yarn install`
[code]

[2017-08-08 06:29] SupriyaKalghatgi commented on #121
@williamoliveira Did you try again?

[2017-08-08 06:30] SupriyaKalghatgi commented on #118
@kingctan Any updates?

[2017-08-08 08:58] williamoliveira commented on #121
Yes, I tried cleaning yarn cache and running again but got the same error

[2017-08-09 10:08] SupriyaKalghatgi commented on #121
@williamoliveira Try both these ways

1. rm yarn.lock
   rm -rf node_modules
   yarn

2. rm yarn.lock
   rm -rf node_modules
   npm i

[2017-08-10 05:27] williamoliveira commented on #121
`rm yarn.lock` did it, thank you @SupriyaKalghatgi

[2017-08-10 05:27] #121 closed, assigned to nobody

[2017-08-10 15:42] zacharybrady opened #122 "SDK Build Tools Version Used by Starter Kit Out of Date"
Error Message Below Explains it:

Having some issues resolving this manually even after updating the build.gradle file. Will update if anything comes up.

[2017-08-10 15:52] zacharybrady commented on #122
Solved by updating through Android Studio. Should probably be updated for this repository though. I'm getting additional errors as well including:

     Searched in the following locations:

[2017-08-16 05:35] #122 closed, assigned to nobody

[2017-08-16 05:37] SupriyaKalghatgi commented on #119
@slayer35 Can you share screenshot of console output?

[2017-08-16 06:49] SupriyaKalghatgi commented on #118
@kingctan I tried replicating issue on our side.
[code]

This in my `package.json` runs fine.

[2017-08-16 06:49] #118 closed, assigned to nobody

[2017-08-16 07:23] SupriyaKalghatgi commented on #117
@wikieswan Very soon we will upgrade Native Starter Kit to the latest of `React`, React Native` and `NativeBase`
With refactored code

[2017-08-16 07:27] SupriyaKalghatgi commented on #107
@yernandus Could not find what you are saying
Can you please elaborate

[2017-08-16 07:29] SupriyaKalghatgi commented on #71
@fones @Tibze Can you share versions of `node` and `npm` along with your `package.json`

[2017-08-16 07:30] SupriyaKalghatgi commented on #62
@Steviey Sorry for no updates
Can you please check the latest of Native Starter Kit for this?

[2017-08-16 07:38] SupriyaKalghatgi commented on #61
@Steviey Can you please list out the tool

[2017-08-27 19:43] prancky opened #123 "How to Retrieve data from AsyncStorage"
how to access AsyncStorage data
`persistStore(store, { storage: AsyncStorage }, onCompletion);`

[2017-08-31 11:18] SupriyaKalghatgi commented on #120
@ydwlaa Found it working?

[2017-09-08 02:46] aselvais opened #125 "Codepush crashes on Android but works on iOS"
Hello,
I had codepush working completely fine on iOS, but on Android, when I accept the update, the app just crashes and rolls back to the previous version ...
The log in chrome console disappears quickly so I am not sure what this thing is related to but it seems to be style related... If it is the case, why would it work on iOS though?

[2017-10-12 16:26] htgylzhq opened #128 "Login button's first press not fired"
After input email and password, I click the login button, but renderInput rather than onPress event be fired.

[2017-10-17 06:54] redochka opened #129 "What does the @ symbol do in javascript imports?"
in src/index.js i see imports like this:

<pre>

// Consts and Libs
import { AppStyles } from '@theme/';
import AppRoutes from '@navigation/';
import Analytics from '@lib/analytics';
</pre>

What does the @ symbol do in javascript imports?

[2017-10-17 11:41] sanketsahu commented on #129
https://stackoverflow.com/questions/42711175/what-does-the-symbol-do-in-javascript-imports

[2017-10-17 11:41] #129 closed, assigned to nobody

[2017-10-18 08:07] redochka commented on #129
i have found this stackoverflow before, but the accepted response refers to `babel-plugin-root-import` however there is no trace of `babel-plugin-root-import` in the `native-starter-kit` repo. Can you confirm if `babel-plugin-root-import` is being used here?

[2017-10-20 04:47] kingctan commented on #118
has the same error on following package.json

[code]

[2017-11-27 10:41] WebTalentTop opened #130 "Drawer Navigating Animation"
When I navigate to other screens, the hidden drawer flickers between them.
I think this is not a right way to show it when navigating.
Is there anyone to help me to resolve this issue?
Thanks

[2017-11-27 10:46] SupriyaKalghatgi commented on #130
Please check the ReadMe
This repo is deprecated
Refer [ReactNativeSeed.com](https://reactnativeseed.com/)

[2017-11-27 10:46] #130 closed, assigned to nobody

[2017-11-27 10:47] SupriyaKalghatgi commented on #128
This repo is deprecated
Please check [ReactNativeSeed.com](https://reactnativeseed.com/)

[2017-11-27 10:47] #128 closed, assigned to nobody

[2017-11-27 10:47] SupriyaKalghatgi commented on #116
This repo is deprecated
Please check [ReactNativeSeed.com](https://reactnativeseed.com/)

[2017-11-27 10:47] #116 closed, assigned to nobody

[2017-11-27 10:47] SupriyaKalghatgi commented on #62
This repo is deprecated
Please check [ReactNativeSeed.com](https://reactnativeseed.com/)

[2017-11-27 10:47] #62 closed, assigned to SupriyaKalghatgi

[2017-11-27 10:48] SupriyaKalghatgi commented on #107
This repo is deprecated
Please check [ReactNativeSeed.com](https://reactnativeseed.com/)

[2017-11-27 10:48] #107 closed, assigned to nobody

[2017-11-27 16:37] WebTalentTop commented on #130
Hello, Supriya....Thanks for your info.
Can you please confirm this is right repo?
https://github.com/GeekyAnts/react-native-native-base-seed
But the seed project has no samples how to use navigation

[2017-11-27 18:19] SupriyaKalghatgi commented on #130
@WebTalentTop No thats not the right one
If you check ReadMe of https://github.com/GeekyAnts/react-native-native-base-seed, it says `No Longer Maintained`

[2017-11-27 18:21] WebTalentTop commented on #130
Help me. which is one similar as this native-starter kit?
I just have problems with Navigator and I want to replace it as CardStack Navigator.
The one I found has a structure for navigation but no sample screen is involved.

[2017-11-27 18:22] SupriyaKalghatgi commented on #130
@WebTalentTop Refer the link [ReactNativeSeed.com](https://reactnativeseed.com/) and go through the possible options of your desire to get ready to run starter kit

[2017-11-27 18:30] WebTalentTop commented on #130
OKay...let me check out the newly downloaded source

[2017-12-03 17:07] gianpaj commented on #130
🙃 https://help.github.com/articles/archiving-repositories/

[2017-12-04 04:22] SupriyaKalghatgi commented on #130
@gianpaj Yes we know that!
But we dont want to archive this repository at this moment

[2018-04-19 11:43] YogarajRamesh opened #131 "Picker itemTextStyle,itemTextStyle,textStyle not working"
<Picker
                                    iosHeader="Sub-Category"
                                    placeholder="Select your SIM"
                                    placeholderStyle={{ color: "#bfc6ea" }}
                                    selectedValue={this.state.selected1}
                                    onValueChange={this.onValueChange.bind(this)}

[2018-04-19 11:45] SupriyaKalghatgi commented on #131
Please check ReadMe

![image](https://user-images.githubusercontent.com/13464885/38989639-28d61596-43f5-11e8-9176-25fbce06409e.png)

[2018-04-19 11:45] #131 closed, assigned to nobody

[2018-06-12 12:45] rashmimhatre100 commented on #52
my package.json does not have react-native-code-push. Any other solution?

[2018-06-12 13:27] GeekRishabh commented on #52
@rashmimhatre100 You can use `reactnativeseed.com`

[2018-06-12 13:28] geekrishabh commented on #52
@rashmimhatre100 You can use `https://reactnativeseed.com/` starter kit.

[2018-06-15 21:09] Kymy opened #132 "Could not determine java version from '10.0.1'. ??"
When I run react-native run-android the console show this error:

react-native run-android

How can I solve this??

Than you in advance

[2018-07-05 07:32] waqaramjad opened #133 "How i run this project on expo ?"
I want to run this project on expo via CRNA so what  project structure should i made so that i can run it on expo
thanks

[2018-07-05 07:35] SupriyaKalghatgi commented on #133
This project is deprecated, its mentioned in ReadMe

[2018-07-05 07:35] #133 closed, assigned to nobody

[2018-07-05 07:36] SupriyaKalghatgi commented on #133
Go for this instead https://reactnativeseed.com/

[2018-07-22 18:53] imankitaman opened #134 "var oldJsCodeLocationAssignmentStatement = appDelegateContents.match(/(jsCodeLocation = .*)/)[1];"
var oldJsCodeLocationAssignmentStatement = appDelegateContents.match(/(jsCodeLocation = .*)/)[1];
                                                                                             ^

TypeError: Cannot read property '1' of null
    at Object.<anonymous> (/Users/ab/Documents/ios/ios_app/node_modules/react-native-code-push/scripts/postlink/ios/postlink.js:39:94)
    at Module._compile (mod

[2018-08-03 12:28] imankitaman commented on #134
resolved

[2018-09-28 09:18] Johncy1997 commented on #31
![pickeritem](https://user-images.githubusercontent.com/25324938/46199640-2feff600-c32d-11e8-8ecf-6f098a17eb32.png)

In my case, I want to set a radio button for selectedItem. Someone tell me what should i do for this?

[2019-01-14 16:18] cassmtnr opened #136 "Update?"
This project will be updated to the latest version of the tools?

[2020-04-26 18:52] arshadmhabib opened #137 "Unable to resolve module "color" from "js\themes\base-theme.js""
Can anyone help with figuring out this error? thanks